<div>
      <div class="f-buttons-block text-right">
            <button type="button" class="button button1"
                    @click="addUser()">{{'Add User'|_}}
            </button>
      </div>
      <sv-comp-grid :grid="grid"></sv-comp-grid>
</div>

