.f-breadcrumbs-block {
      display: inline-block;
}
.f-header-breadcrumb {
      margin: 0 0 0 30px;
      padding: 0;
      white-space: nowrap;
      li:nth-last-child(2), li:last-child {
            &:after {
                  display: none;
            }
      }
}
.f-breadcrumb__penultimate {
      vertical-align: middle;
      display: inline-block;
      .f-breadcrumb__link {
            margin: 0;
      }
      &:before {
            display: none;
      }
}
.f-breadcrumb__item {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      &:after {
            content: '/';
            position: absolute;
            right: 0;
            top: 50%;
            font-size: 17px;
            transform: translateY(-10px);
            color: #fff;
      }
      &:before {
            display: none;
      }
}
.f-breadcrumb__link {
      padding: 21px 5px 20px;
      display: inline-block;
      margin-right: 10px;
      font-size: 17px;
      color: #fff;
      &:hover {
            color: #fff;
      }
}
.f-breadcrumb-header__link  {
      color: #fff;
}
.f-breadcrumb__item-favorite__link {
      font-size: 17px;
      color: #fff;
      &:focus {
            color: #fff;
      }
      .fa-star {
            display: none;
      }
      svg {
            fill: none;
            stroke: #fff;
      }
      &:hover {
            color: #fff;
          /*  .fa-star-o {
                  display: none;
            }
            .fa-star {
                  display: inline-block;
            }*/
            svg {
                  fill: #fff;
                  stroke: #fff;
            }
      }
      &.on {
            /*.fa-star-o {
                  display: none;
            }
            .fa-star {
                  display: inline-block;
            }*/
            svg {
                  fill: #fff;
                  stroke: #fff;
            }
      }
}
@media (max-width: 1279px) {
      .f-breadcrumbs-block {
            position: relative;
            display: inline-block;
            max-width: calc(100% - 570px);
            &:after {
                  content: '...';
                  display: block;
                  position: absolute;
                  bottom: 18px;
                  right: -12px;
                  color: #fff;
            }
      }
      .f-header-breadcrumb {
            overflow: hidden;
            margin-left: 10px;
            position: relative;
      }
      .f-breadcrumb__link {
            font-size: 14px;
            margin-right: 5px;
            padding: 19px 5px 18px;
      }
}

@media (max-width: 767px) {
      .f-breadcrumb {
            background-color: transparent;
            margin-left: 0;
      }
      .f-breadcrumb__item {
            &:after {
                  color: #000;
            }
      }
      .f-breadcrumb__link {
            color: #000;
            &:hover {
                  color: #000;
                  text-decoration: underline;
            }
      }
      .f-breadcrumb__penultimate {
            a {
                  color: #000;
            }
      }
      .f-breadcrumb__item-favorite__link {
           /* color: #000;
            &:focus {
                  color: inherit;
            }
            &:hover {
                  color: inherit;
            }
            &.on {
                  &:focus {
                        color: #000;
                  }
                  &:hover {
                        color: #000;
                  }
            }*/
            svg {
                  fill: none;
                  stroke: #000;
            }
            &:hover, &:focus {
                 svg {
                        fill: none;
                        stroke: #000;
                  }
            }
            &.on {
                  /*.fa-star-o {
                        display: none;
                  }
                  .fa-star {
                        display: inline-block;
                  }*/
                  svg {
                        fill: #000;
                        stroke: #000;
                  }
                  &:hover, &:focus {
                        svg {
                              fill: #000;
                              stroke: #000;
                        }
                  }
            }
      }
}
