.f-filter-block {
	overflow: hidden;
}

.f-block-title {
	position: relative;
	.f-delete {
		position: absolute;
		right: 0;
		top: 0;
		padding: 7px 10px;
		background: transparent;
		border: 0;
	}
}
.f-grid-title__text {
	font-size: 20px;
	font-weight: bold;
}
.f-form-title {
	padding: 10px 0;
}
.f-form-title__text {
	font-size: 20px;
	font-weight: bold;
	padding: 20px 10px 17px 15px;
	margin: 0;
	display: inline-block;
}

.f-block-title__text {
	color: #2d2d2d;
	font-weight: bold;
	font-size: 16px;
	padding: 8px 0;
	display: inline-block;
	margin: 0 5px 0 0;
	position: relative;
}

.f-content-block {
	background: #fff;
	border-radius: 5px;
	padding: 15px;
}

a:focus {
	color: #000;
}

.badge {
	font-size: 10px;
	background-color: #ff2626;
	position: absolute;
	right: 2px;
	top: 12px;
	width: 13px;
	height: 13px;
	border-radius: 13px;
	padding: 2px 0;
}

.box-no-padding {
	padding: 15px 0;
	.f-buttons-block {
		padding: 0 15px;
	}
}
.line {
	width: 80%;
	margin: 0 auto 20px;
	height: 2px;
	background: #c7c7c7;
}

.scrollable-area {
	width: 100%;
	overflow: auto;
	padding: 0;
	min-height: 50vh;
	table {
		white-space: nowrap;
	}
}
.tableDiv {
	margin: 70px 0 0 0;
}
.f-multilanguage-block {
	background: #fff;
	border-radius: 5px;
	padding: 15px;
	.locale {
		width:70px;
	}
	.f-delete {
		display: inline-block;
		i {
			font-size: 16px;
		}
	}			
}

.param-block {
	height: 17px;
	margin: 15px 0;
	.f-input {
		border-radius: 0;
	}
	.param-result {
		font-weight: bold;
		position: relative; 
		display: inline;
		a {
			border-bottom: 1px solid #474646;
			color: #474646;
			padding: 0 0 1px 0;
			&:hover {
				border-bottom: 1px solid #000;
				color: #000;
			}
		}
		&.open {
			.list {
				display: inline;
				z-index: 1;
			}
		}
	}
	.param-options {
		&.list {
			position: absolute;
			left: 0;
			top: 1.3em;
			display: none;
		}
		.select2-container {
			width: auto !important;
			min-width: inherit;	
			padding: 0;
			border-bottom: 1px solid #868a8a;
			color: #868a8a;
			&:hover {
				border-bottom: 1px solid #000;
				.select2-container--default .select2-selection--single {
					color: #000;
				}
			}
		}
		.select2-container--default .select2-selection--single {
			border: 0;
			border-radius: 0;
			background: transparent;
			padding: 0;
			height: inherit;
			line-height: 1.25em;
			color: #868a8a;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 1.25em;
			padding: 0;
			vertical-align: text-bottom;
			display: inline-block;
			color: #868a8a;
			&:hover {
				color: #000;
			}
		}
		.select2-selection__arrow {
			display: none;
		}
		input {
			min-width: inherit;
			display: none;
			padding: 0;
			border: 0;
			border-bottom: 1px solid #000;
			color: #000;
			width: 100px;
			background: transparent;
			line-height: 1.25em;
		}
		ul {
			width: auto;
			border: 1px solid #eee;
			display: inline-block;
			padding: 0;
			li {
				width: auto;
				border-bottom: 1px solid #eee;
				line-height: normal;
				a {
					width: 100%;
					color: #868a8a;
					border-bottom: 0;
					font-weight: normal;
					display: inline-block;
					padding: 4px 20px 4px 10px;
					background: #fff;
					white-space: nowrap;
					line-height: normal;
					&:hover {
						color: #000;
						border-bottom: 0;
						background: #eee;
					}
				}
			}
		}
	}
	.param-result.edit {
		input {
			display: inline-block;
		}
		a {
			display: none;
		}
	}
	.delete {
		margin-left: 0;
		margin-right: 10px;
	}
}

.f-delete, .f-roll-up {
	cursor: pointer;
	i {
		color: #474646;
	}
	&:hover {
		i {
			color: #000;
		}
	}
}
.added-files {
	position: relative;
	margin: 20px 0;
	i.fa-paperclip {
		font-size: 20px;
		vertical-align: middle;
		display: inline-block;
		position: absolute;
		left: 14px;
		top: 20px;
	}
	i.fa-times {
		font-size: 14px;
		vertical-align: middle;
		display: inline-block;
		&:hover {
			color: #000;
		}
	}
	.file {
		margin: 0 10px 10px;
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		img {
			height: 25px;
			width: auto;
		}
		span {
			display: inline-block;
			font-weight: bold;
			color: #000;
			vertical-align: middle;
			padding: 0 10px;
		}
		a {
			font-size: 10px;
			color: #b3b3b3;
			padding: 0 10px;
			vertical-align: middle;
			display: inline-block;
			&:hover {
				color: #000;
			}
		}
		.delete {
			padding: 0;
		}
	}
}

.tab-counter {
	color: #979797;
	border-radius: 5px;
	border: solid 1px #979797;
	font-size: 11px;
	padding: 1.5px 6px;
	display: inline-block;
	vertical-align: middle;	
	margin-left: 8px;
	&.new-item {
		color: #ff8f00;
		border-color: #ff8f00;
	}
}
.overlay {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 99;
	transition: opacity 0.3s ease-in;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
/*.ps__scrollbar-y-rail {
	height: 100% !important;
}*/
.select2-dropdown {
	z-index: 8;
}
.f-bordered-block {
	padding: 20px;
	border: solid 1px #e5e3e3;
	border-radius: 5px;
}

.f-bordered-block__title {
	position: absolute;
	top: -9px;
	background: #fff;
	padding: 0;
	width: auto;
	p {
		font-size: 14px;
		padding: 0 12px;
		font-weight: bold;
	}
}
@media (max-width: 1365px) {
	.f-multilanguage-block {
		padding: 10px;
		position: fixed;
		top: 10px;
		width: 80%;
		max-width: 600px;
		margin: 0 auto;
		z-index: 100;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media (max-width: 767px) {
	.secondary-control-block {
		float: none;
	}
	.block-title {
		display: inline-block;
		padding: 0 0 0 10px;
		p {
			font-size: 14px;
		}
	}
	.f-multilanguage-block {
		width: 100%;
		max-width: 300px;
	}
	/*.f-content-block {
		padding: 5px;
	}*/
	.f-grid-wrapper {
		padding: 0;
	}
	.f-grid-title__text {
		padding: 10px 0;
	}
}