.f-grid-filter-panel {
      margin: 0;
      position: relative;
      padding: 0 20px;
}

/*Filter options windows*/

.filter-options-block {
      background: #fff;
      padding: 20px;
}
.option-box {
      padding: 20px;
      ol {
            padding: 0;
      }
}
.filter-open-button {
      position: absolute;
      top: 0;
      padding: 6px 9px 2px;
      border: 1px solid #d0dae3;
      background: #fff;
      line-height: 0;
      height: 34px;
      width: 41px;
      text-align: center;
      svg {
            stroke: #d0dae3;
            fill: #d0dae3;
      }
      &:hover {
            background: #d0dae3;
            svg {
                  stroke: #fff;
                  fill: #fff;
            }
      }
      &:active {
            background-color: #b9c1c9;
            box-shadow: inset 0 1px 3px 0 rgba(112, 112, 112, 0.5);
            svg {
                  stroke: #fff;
                  fill: #fff;
            }
      }
}
.params-left {
      position: absolute;
      left: -420px;
      top: 10px;
      transition: 0.3s left ease-in;
      width: 420px;
      z-index: 8;
      .filter-options-block {
            border: 1px solid #d0dae3;
            border-left: 0;
            border-radius: 0 0 5px 0;
      }
      .filter-open-button {
            right: -40px;
            border-radius: 0 5px 5px 0;
            padding: 6px 10px;
      }
      &.open {
            left: 0px;
            z-index: 8;
            .filter-open-button {
                  background: #d0dae3;
                  svg {
                        stroke: #fff;
                        fill: #fff;
                  }
                  &:hover {
                        background: #fff;
                        svg {
                              stroke: #d0dae3;
                              fill: #d0dae3;
                        }
                  }
            }
      }
}

.params-right {
      position: absolute;
      right: -380px;
      top: 10px;
      width: 380px;
      transition: 0.3s right ease-in;
      z-index: 8;
      label {
            cursor: pointer;
      }
      .filter-options-block {
            border: 1px solid #d0dae3;
            border-right: 0;
            border-radius: 0 0 0 5px;
            padding: 0;
            font-size: 0;
      }
      .filter-open-button {
            left: -40px;
            border-radius: 5px 0 0 5px;
            padding: 7px 11px;
      }
      &.open {
            right: 0px;
            z-index: 8;
            .filter-open-button {
                  background: #d0dae3;
                  svg {
                        stroke: #fff;
                        fill: #fff;
                  }
                  &:hover {
                        background: #fff;
                        svg {
                              stroke: #d0dae3;
                              fill: #d0dae3;
                        }
                  }
            }
      }
      .filter-toggle {
            width: 50%;
            display: inline-block;
            text-align: center;
            padding: 9px 0;
            border-bottom: 1px solid #d0dae3;
            height: 33px;
            font-size: 13px;
            span {
                  color: #2e4354;
            }
            &.active {
                  border-bottom: solid 2px #2e4354;
            }
      }
      .ui-sortable {
            padding: 0;
            li {
                  display: inline-block;
                  width: 50%;
                  & > * {
                        display: inline-block;
                        vertical-align: middle;
                  }
            }
      }
      .f-pagination-block {
            text-align: center;
            padding: 5px 0;
            border-top: solid 1px #d0dae3;
      }
      .f-list-pagination {
            margin-bottom: 0;
      }
}

.columns {
      .dropdown-menu {
            max-height: 314px;
            z-index: 5;
      }
      .ui-sortable {
            .handle {
                  padding: 0 6px;
                  color: #2e4354;
            }
      }
      li {
            display: inline-block;
            width: 50%;
            & > * {
                  display: inline-block;
                  vertical-align: middle;
            }
      }
      label {
            font-weight: normal;
            color: #2e4354;
      }
}

.ui-sortable {
      li {
            white-space: nowrap;
            cursor: pointer;
      }
      .handle {
            padding: 0 6px;
            color: #2e4354;
      }
      label {
            font-weight: normal;
            color: #2e4354;
      }
}

.select-filter {
      position: relative;
      .select2-container {
            width: 100% !important;
      }
      .select2-selection--arrow {
            display: none;
      }
      .select2-selection--single {
            border: 1px solid #ebebeb;
            border-radius: 1px;
      }
}

.f-filter-box {
      padding: 0;
      .f-form-group {
            margin: 10px 0;
      }
}

.f-grid-panel {
      padding: 10px 0 5px 0;
      text-align: right;
}

.f-filter__elem {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px 5px;
      z-index: 1;
      position: relative;
}

/*Pagination dropdown block*/

.f-pagination__dropdown {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      &.open {
            .f-pagination__toggle {
                  border-radius: 5px 5px 0 0;
            }
            .f-pagination__menu {
                  display: block;;
            }
      }
}

.f-pagination__caret {
      color: #d0dae3;
}

.f-pagination__toggle {
      padding: 8px 16px 8px 11px;
      border-radius: 5px;
      border: solid 1px #d0dae3;
      color: #2e4354;
      text-align: center;
      display: inline-block;
}

.f-pagination__menu {
      width: 100%;
      min-width: inherit;
      text-align: center;
      border-radius: 0 0 5px 5px;
      border: 1px solid #d0dae3;
      padding: 0;
      box-shadow: none;
      margin: 0;
      border-top: 0;
      max-height: 290px;
      overflow: auto;
      display: none;
      position: absolute;
      .f-pagination__item:last-child {
            .f-pagination__link {
                  border: 0;
                  border-radius: 0 0 5px 5px;
            }
      }
}

.f-pagination__next-page {
      padding: 3px 12px 3px 0;
      color: #d0dae3;
      vertical-align: middle;
      display: inline-block;
      i {
            font-size: 26px;
      }
      &:hover {
            color: #a2aeb8;
      }
      &:focus {
            color: #2a6496;
      }
}

.f-pagination__prev-page {
      padding: 3px 0 3px 12px;
      color: #d0dae3;
      vertical-align: middle;
      display: inline-block;
      i {
            font-size: 26px;
      }
      &:hover {
            color: #a2aeb8;
      }
      &:focus {
            color: #2a6496;
      }
}

.f-pagination__item {
      background: #fff;
      &:hover {
            background-color: #d8d8d8;
            color: #262626;
      }
      &:active {
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      }
}

.f-pagination__link {
      padding: 8px 2px 8px 2px;
      color: #2e4354;
      display: inline-block;
      width: 100%;
      text-align: center;
      &:hover {
            text-decoration: none;
            color: #262626;
      }
}

/*Pagination list block*/
.f-list-pagination {
      padding: 0;
}

.f-list-pagination__item {
      display: inline-block;
}

.f-list-pagination__link {
      display: inline-block;
      color: #2e4354;
      padding: 2px;
      font-size: 13px;
      border-radius: 5px;
      min-width: 20px;
      text-align: center;
      &:hover {
            color: #fff;
            background: #2e4354;
      }
}

/*Filter search block*/
.f-search-block {
      position: relative;
      button {
            padding: 8px 0 3px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            text-shadow: none;
            margin: 0;
            width: 40px;
            border: 0;
            background: transparent;
      }
}

/*Filter tags*/

.f-filter-tags {
     /* padding: 10px 10px 5px 10px;*/
}

.f-filter-tags__tag {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding: 9px 20px 9px 10px;
      background: #e3e3e3;
      margin: 10px 5px 5px;
      border-radius: 5px;
      color: #2e4354;
}

.f-tags__remove {
      display: inline-block;
      padding: 9px 6px;
      color: #2e4354;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
            color: #000;
      }
}

@media (max-width: 1365px) {
      .f-grid-filter-panel {

      }
      .export {
            & > .dropdown-menu {
                  left: inherit;
                  min-width: 294px;
                  width: 294px;
                  right: -18px;
            }
      }
      .filter {
            & > .dropdown-menu {
                  left: 49%;
                  transform: translateX(-50%);
                  min-width: 294px;
                  width: 294px;
            }
      }
      .columns {
            & > .dropdown-menu {
                  min-width: 294px;
                  width: 294px;
                  left: -15px;
            }
            li {
                  width: 100%;
            }
      }
}

@media (max-width: 767px) {
      .params-right {
            right: -244px;
            width: 244px;
            top: 10px;
            &.open {
                  right: 0;
            }
            .option-box {
                  padding: 15px 3px;
            }
      }
      .params-left {
            left: -244px;
            width: 244px;
            top: 10px;
            &.open {
                  left: 0;
            }
            .filter-options-block {
                  padding: 20px 5px;
            }
            input[type="date"].f-input {
                  width: 76px;
                  padding: 7px 0;
            }
      }
      /*.f-content-block {
            padding: 5px;
      }*/
      .f-grid-filter-panel {
            padding: 0 5px;
            .col-lg-6 {
                  padding: 0;
            }
            .f-grid-panel {
                  text-align: center;
            }
            .f-pagination {
                  z-index: 2;
            }
            .search-block {
                  width: 49%;
            }
      }
      .f-filter__elem {
            &.amount-rows {
                  display: none;
            }
            &.f-search-block {
                  width: 49%;
                  margin: 0 0 5px;
                  .f-input {
                        padding-right: 36px;
                  }
            }
      }
      .f-filter-tags {
            padding: 0 37px;
      }
      .f-filter-tags__tag {
            padding: 5px 20px 5px 10px;
      }
      .f-tags__remove {
            padding: 5px 6px;
      }
      .f-pagination__prev-page {
            width: 35%;
            text-align: right;
            padding-right: 10px;
      }
      .f-pagination__next-page {
            width: 35%;
            text-align: left;
            padding-left: 10px;
      }
}