html {
      height: 100%;
      width: 100%;
}

body {
      margin: 0;
      padding: 0;
      min-height: 100%;
      min-width: 310px;
      font-size: 13px;
      line-height: 1.25em;
      font-family: "SFUIDisplayRegular", sans-serif;
      box-sizing: border-box;
      background: #f1f1f1;
}

.f-admin-header {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 99;
      min-width: 317px;
      background: #0086c0;
      .f-dropdown__menu {
            top: 57px;
      }
}

/*Header search block*/

.f-header__search-block {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 250px;
      .f-dropdown__menu {
            a {
                  padding: 8px 20px;
                  display: inline-block;
                  &:hover {
                        text-decoration: none;
                        color: #262626;
                        background-color: #f5f5f5;
                  }
            }
      }
}

.f-header__search-block__button {
      padding: 8px 0 3px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      text-shadow: none;
      margin: 0;
      width: 40px;
      border: 0;
      background: transparent;
      svg {
            fill: #fff;
            stroke: #fff;
      }
}

.f-header__search-block__input {
      width: 100%;
      font-size: 16px;
      color: #fff;
      background: transparent;
      border: 1px solid #d0dae3;
      padding: 8px 40px 8px 10px;
      border-radius: 5px;
      &::-webkit-input-placeholder {
            color: #fff;
      }
      &:-moz-placeholder {
            color: #fff;
            opacity: 1;
      }
      &::-moz-placeholder {
            color: #fff;
            opacity: 1;
      }
      &:-ms-input-placeholder {
            color: #fff;
      }
}

/*Custom dropdown block*/

.f-dropdown {
      position: relative;
      &.open {
            .f-dropdown__menu {
                  display: block;
            }
      }
}

.f-dropdown__toggle {
      color: #000;
      padding-right: 20px;
      display: inline-block;
}

.f-dropdown__menu {
      padding: 0;
      position: absolute;
      top: 100%;
      z-index: 1000;
      display: none;
      min-width: 160px;
      margin: -1px 0 0;
      list-style: none;
      text-align: left;
      background-color: #ffffff;
      border: solid 1px #d0dae3;
}

.f-dropdown__menu__item {
      white-space: nowrap;
      position: relative;
      color: #5f5f5f;
      &.active {
            color: #020202;
            font-weight: bold;
      }
      &:hover {
            background-color: #d0dae3;
      }
}

.f-dropdown__menu__link {
      display: block;
      padding: 5px 20px 5px 10px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333333;
      white-space: nowrap;
      font-size: 14px;
      &:hover {
            text-decoration: none;
            color: #262626;
      }
      &:active {
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      }
}

.f-dropdown__item__act {
      position: absolute;
      z-index: 2;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      padding: 6px;
      i {
            color: #868a8a;
      }
      a:hover {
            i {
                  color: #000;
            }
      }

}

.f-dropdown__content {
      padding: 0;
      width: auto;
      max-height: 500px;
      overflow-y: auto;
}

/*Header navbar's blocks*/

.f-header__navbar {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      .f-dropdown__menu {
            right: 0;
            min-width: 300px;
            &:before {
                  content: '';
                  position: absolute;
                  right: 10px;
                  top: -20px;
                  border: 10px solid transparent;
                  border-bottom: 10px solid #fff;
            }
      }
}

.f-header__navbar-toggle {
      margin: 0 0 0 94px;
      padding: 16px 0 12px;
      svg {
            stroke: #fff;
            fill: #fff;
      }
      &:active {
            svg {
                  stroke: #9a9a9a;
                  fill: #ffffff;
            }
      }
}

.f-header__navbar__item {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      svg {
            fill: #fff;
            stroke: #fff;
      }
}

.f-header__navbar__link {
      padding: 17px 12px 17px;
      display: inline-block;
}

.f-header__notification-block {
      .f-dropdown__menu__item {
            padding: 5px 20px 5px 10px;
      }
      .f-dropdown__menu {
            * {
                  color: #5f5f5f;
            }
            a {
                  font-weight: bold;
                  display: inline-block;
                  margin: 0 2px;
                  &:hover {
                        color: #000;
                  }
            }
            .time {
                  background: #f1f1f1;
                  padding: 4px 7px;
                  margin-left: 10px;
                  position: absolute;
                  right: 6px;
                  border-radius: 5px;
            }
            img {
                  width: 24px;
                  height: 24px;
                  border: 1px solid #858181;
            }
      }
}

.f-header__favorites-block {
      .f-dropdown-menu {
            width: auto;
            max-height: 500px;
            overflow-y: auto;
      }
      .active {
            a {
                  color: #020202;
                  font-weight: bold;
            }
      }
}

.f-header__setup-block {
      position: relative;
      .f-header__navbar__link {
            color: #fff;
            padding: 12px 10px;
            font-size: 1.05em;
            .setup-progress-label {
                  margin-bottom: 2px;
            }
            .setup-progress-container {
                  width: 120px;
                  height: 14px;
                  border: 1px solid rgba(0, 0, 0, .25);
                  border-radius: 15px;
                  background: rgba(0, 0, 0, .15);
            }
            .setup-progress-bar {
                  background: #69B221;
                  height: 100%;
                  border-radius: 15px 0 0 15px;
            }
      }
      .done {
            color: #888;
            font-weight: normal;
            background: #fff;
            .f-dropdown__item__act {
                  i {
                        color: #0c8a00;
                  }
            }
      }
}

/*Logo block*/

.f-logo__img {
      width: 102px;
      height: 40px;
      display: inline-block;
      padding: 0 0 10px 0;
      background: url(../img/logo.png) no-repeat 50% 50%;
      background-size: contain;
}

.f-logo__text {
      position: absolute;
      left: 0;
      bottom: 0;
      text-transform: uppercase;
      color: #fff;
      font-size: 10px;
}

.f-header__logo {
      display: inline-block;
      float: left;
      position: relative;
      margin-top: 3px;
}

/*Notifications block and messages*/

.notifications-block {
      text-align: center;
      position: fixed;
      width: 50%;
      margin: 0 25%;
      top: 60px;
      z-index: 1;
}

.notifications-block__container {
      display: inline-block;
}

.notifications-block__text {
      width: 100%;
      padding: 15px 40px 15px 40px;
      color: #4a5629;
      margin-bottom: 5px;
      position: relative;
      box-shadow: 7px 7px 5px 0 rgba(0, 0, 0, 0.11);
}

.notifications-block__remove {
      position: absolute;
      right: 0;
      top: 0;
      padding: 2px 4px;
      color: #474646;
      &:hover {
            color: #000;
      }
}

.error-notification {
      background: #f4b0af;
}

.success-notification {
      background: #d9fcdb;
}

.warning-notification {
      background: #f8f5cc;
}

.info-notificatione {
      background: #d2e3f5;
}

.icon-close {
      display: none;
}

.f-main-menu {
      float: right;
}

@media (max-width: 1365px) {
      .f-header__navbar-toggle {
            margin: 0 0 0 35px;
            z-index: 4;
            &.open {
                  .icon-bar {
                        display: none;
                  }
                  .icon-close {
                        display: block;
                  }
            }
      }
      .notifications-block {
            top: 60px;
      }
      .f-header__search-block {
            width: 100px;
      }
}

@media (max-width: 1279px) {
      .f-header__setup-block {
            .f-header__navbar__link {
                  .setup-progress-label {
                        font-size: 12px;
                  }
                  .setup-progress-container {
                        width: 100px;
                  }
            }
      }
}

@media (max-width: 767px) {
      .f-main-menu {
            float: none;
            width: calc(100% - 37px);
            display: inline-block;
      }
      .f-header__navbar {
            width: 100%;
            text-align: right;
            font-size: 0;
      }
      .f-admin-header {
            padding: 0;
            .f-dropdown {
                  position: static;
            }
            .f-header__setup-block {
                  position: relative;
                  &.open {
                        position: static;
                  }
            }
      }
      .f-header__logo {
            display: none;
      }
      .f-header__navbar-toggle {
            margin: 0;
            padding: 14px 6px;
      }
      .f-header__navbar__item {
            border-left: solid 1px rgba(255, 255, 255, 0.14);
            position: static;
            width: 19%;
            font-size: 13px;
      }
      .f-header__navbar__link {
            font-size: 12px;
            padding: 16px 15px 15px;
            border-left: solid 1px rgba(255, 255, 255, 0.14);
            width: 100%;
            text-align: center;
            svg {
                  fill: #fff;
                  stroke: #fff;
            }
      }

      .f-header__notification-block,
      .f-header__favorites-block,
      .f-header__settings-block,
      .f-header__search-block,
      .f-header__setup-block {
            .f-dropdown__menu {
                  left: 0;
                  width: 100%;
                  text-align: left;
                  padding: 9px 18px;
                  z-index: 5;
                  min-width: 317px;
            }
      }

      .f-header__notification-block {
            .f-dropdown__menu {
                  &:before {
                        right: 29px;
                  }
            }
      }

      .f-header__setup-block {
            .f-dropdown__menu {
                  &:before {
                        right: 58%;
                  }
            }
            .f-header__navbar__link {
                  padding: 16px 15px 15px;
                  font-size: 12px;
                  text-align: center;
                  .setup-progress-container {
                        width: 100%;
                        margin: 0 auto;
                        position: absolute;
                        left: 0;
                        bottom: -1px;
                        height: 3px;
                        border-radius: 0;
                  }
            }

      }
      .f-header__navbar__link-icon {
            display: inline-block;
      }
      .f-header__favorites-block {
            .f-dropdown__menu {
                  &:before {
                        right: 44%;
                  }
            }
      }

      .f-header__search-block {
            position: static;
            width: 100%;
            .f-dropdown__menu {
                  &:before {
                        content: '';
                        position: absolute;
                        top: -20px;
                        border: 10px solid transparent;
                        border-bottom: 10px solid #fff;
                        right: 76%;
                  }
            }
            .f-input {
                  padding-right: 116px;
            }
      }

      .f-header__search-block__input {
            width: 100%;
            color: #747373
      }

      .f-header__search-block__button {
            font-size: 16px;
            width: initial;
            padding: 11px 10px;
            box-shadow: none;
            border: 0;
            background: #ff8f00;
            color: #fff;
            border-radius: 0 5px 5px 0;
            &:active {
                  background-color: #ca7302;
                  box-shadow: 1px 2px 0 0 rgba(211, 111, 23, 0.5), inset 2px 2px 3px 0 rgba(44, 42, 42, 0.5);
            }
            &:hover {
                  background: #ca7302;
            }
      }

      .notifications-block {
            top: 60px;
      }

      .button.button1.f-form-group-btn.f-header__search-block__button {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 13px;
      }
}