.f-horizontal-menu {
	margin: 0;
	padding: 0;
	.f-horizontal-menu__dropdown-menu {
		display: none;
		padding: 0;
	}
	.f-dropdown__toggle {
		display: none;
	}
	&.f-dropdown {
		.f-dropdown__toggle {
			display: inline-block;
		}
		.f-horizontal-menu__dropdown-menu {
			display: none;
			.f-horizontal-menu__item {
				display: block;
				width: 100%;
			}
		}
		&.open {
			.f-horizontal-menu__dropdown-menu {
				display: block;
			}
		}
		.f-horizontal-menu__item.active .f-horizontal-menu__link {
			border: solid 1px #d9d9d9;
			background: #fff;
			font-weight: bold;
			padding: 8px 20px;
		}
		.f-dropdown__toggle {
			padding: 8px 30px;
		}

	}
}
.f-horizontal-menu__link {
	color: #2e4354;
	padding: 8px 20px 8px 20px;
	border-radius: 5px 5px 0 0;
	border: solid 1px #d9d9d9;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	display: block;
	background: #f1f1f1;
	&:hover, &:focus {
		background: #fff;
		color: #000;
	}
}
.f-horizontal-menu__item {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 1px;
	&.active {
		background: #eee;
		.f-horizontal-menu__link {
			background: #fff;
			font-weight: bold;
			padding: 8px 20px;
		}
		.f-horizontal-menu__dropdown {
			display: block;
		}
	}
	&.open {
		.f-horizontal-menu__dropdown-menu {
			display: block;
		}
	}
}
.f-horizontal-menu__icon {
	float: right;
	padding: 2px 7px;
}
.f-dropdown {
	.f-horizontal-menu__dropdown-menu {
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		padding: 0;
		width: 100%;
		background: #f1f1f1;
		z-index: 99;
		min-width: 160px;
		a {
			border-radius: 0;
			&:hover {
				background: #fff;
			}
		}
	}
}

@media (max-width: 1365px) {

}

@media (max-width: 767px) {

}