.sidebar-nav {
	position: fixed;
	width: 240px;
	background: #dde5ea;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	height: 100%;
	padding: 57px 0 0 0;
	span, a, i {
		color: #2e4354;
	}
	.ps__scrollbar-y-rail {
		display: none;
	}
}
.account-menu {
	position: fixed;
	left: 20px;
	bottom: 20px;
}
.navbar-collapse {
	display: inline-block;
	width: 100%;
	padding: 0;
	overflow: auto;
	height: calc(100% - 90px);
	font-size: 13px;
}
#main-nav {
	* {
		vertical-align: middle;
	}
	a:hover, a:focus {
		text-decoration: none;
	}
	a:hover {
		background-color: #fefefe;
	}
	.nav-arrow {
		position: absolute;
		right: 11px;
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		transform-origin: 50% 50%;
		transition: 0.3s all linear;
		svg {
			fill: transparent;
			stroke: #86a6bd;
			transition: 0.3s all linear;
		}
	}
	.in {
		background: #c3d2dd;
		.router-link-active span {
			font-weight: bold;
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				border: 10px solid transparent;
				border-right: 10px solid #f1f1f1;
				transform: translateY(-50%);
			}
		}
		& > .nav-arrow {
			transform: translateY(-50%) rotate(0deg);
		}
	}
	& > .dropdown-collapse {
		border-top: 1px solid #dde5ea;
	}
	.dropdown-collapse {
		&.in {
			border-top: 1px solid hsla(205, 28%, 80%, 1);
			span {
				color: #000;
			}
			i {
				color: #000;
			}
		}
	}
	li.active {
		font-weight: 500;
	}
	.active {
		span, i {
			color: #000;
		}
		span {
			font-weight: bold;
		}
	}
	/*.navigation {*/
		.nav.nav-stacked.in {
			display: block;
			border-bottom: solid 1px hsla(205, 28%, 80%, 1);
		}
	/*}*/
	/*.navigation >*/ .nav > li .nav {
		display: none;
	}
	.nav.nav-stacked {
		li {
			margin-top: 0;
			.nav.nav-stacked {
				li {
					a {
						padding: 10px 15px 10px 60px;
					}
					.nav.nav-stacked {
						li {
							a {
								padding: 10px 15px 10px 80px;
							}
						}
					}
				}
			}
		}
	}
	.nav > li > a:hover, .nav > li > a.in:focus {
		text-decoration: none;
		background: #c3d2dd;
	}
	.nav > li > a:focus {
		text-decoration: none;
		background: inherit;
	}
}
.nav {
	& > li {
		& > a {
			padding: 12px 15px;
		}
	}
}
.nav__icon {
	margin-right: 10px;
	svg {
		fill: #86a6bd;
		stroke: #86a6bd;
	}
}
.main-nav-closed {
	.sidebar-nav {
		width: 50px;
		opacity: 1;
		overflow: visible;
	}
	.dropdown-collapse {
		&.in {
			border-top: 1px solid #c3d2dd;
		}
	}
	/*.navigation {*/
		.nav.nav-stacked.in {
			display: block;
			border-bottom: solid 1px #c3d2dd;
		}
	/*}*/
	.account-menu {
		left: 1px;
		.dropdown-toggle {
			font-size: 0;
		}
		.f-caret {
			display: none;
		}
		.open {
			.f-caret {
				display: none;
			}
		}
		.user-menu {
			.dropdown-menu {
				left: 6px;
				right: inherit;
			}
		}
	}
}

#main-nav.close {
	width: 50px;
	opacity: 1;
	z-index: 5;
	overflow: visible;
	.nav.nav-stacked li .nav.nav-stacked li a {
		padding: 14px 15px 14px 60px;
	}
	.nav.nav-stacked {
		.nav.nav-stacked  {
			position: absolute;
			left: 50px;
			background: #eaeaea;
			z-index: 5;
			top: 0;
			width: 260px;
			.fa-chevron-right {
				display: inline-block;
			}
			.nav.nav-stacked  {
				position: absolute;
				left: 260px;
				background: #eaeaea;
				z-index: 5;
				top: 0;
				width: 260px;
				a {
					padding: 10px 15px 10px 30px;
				}
			}
		
		}
		a:hover span {
			color: black;
		}
	}
	li:hover > a > .nav-arrow {
		transform: translateY(-50%) rotate(0deg);
	}
/*	& > .navigation {*/
		& > .nav-stacked > li > a > span {
			font-size: 0;
			display: none;
		}
		& > .nav-stacked > li:hover {
			background-color: #eeeeee;
			color: black;
		}
		& > .nav > li > a > .nav-arrow {
			display: none;
		}
		/*& > .nav-stacked > li:hover > a {
			box-shadow: 3px 2px 16px 1px rgba(0, 0, 0, 0.4);
		}*/
		& > .nav-stacked > li:hover > .nav-stacked > li:hover {
			& > a > span, & > a > i {
				color: black;
			}
		}
	/*}*/
	.nav__icon {
		margin-top: 1px;
		display: inline-block;
	}
}
.main-nav-closed {
	.account-menu {
		.f-dropdown__toggle {
			font-size: 0;
		}
	}
}


.user-menu {
	.dropdown-menu {
		top: -100%;
		left: inherit;
		float: none;
		min-width: initial;
		padding: 0;
		margin: 0;
		background-color: transparent;
		border: 0;
		border-radius: 0;
		right: 0;
		box-shadow: none;
		a {
			border-radius: 5px;
			background: #fff;
			margin-bottom: 2px;
			&:hover {
				background-color: #c6c1c1;
			}
		}
	}
	.f-caret {
		transition: transform 0.3s linear;
		transform-origin: 50% 50%;	
	}
	.caret {
		margin: 7px;
	}
	&.open {
		.f-caret {
			transform: rotate(-180deg);
			display: inline-block;	
			transition: transform 0.3s linear;
		}
	}
}

@media (min-width: 1023px) {
	#main-nav.close {
		& > /*.navigation >*/ .nav > li:hover > .nav-stacked {
			display: block;
			/*box-shadow: 3px 2px 16px 1px rgba(0, 0, 0, 0.4);*/
		}
		& > /*.navigation >*/ .nav > li:hover > .nav-stacked > li:hover > .nav-stacked {
			display: block;
		/*	box-shadow: 3px 2px 16px 1px rgba(0, 0, 0, 0.4);*/
			
		}
		& >/* .navigation >*/ .nav > li > a > i:last-child {
			display: none;
		}
	}
}

@media (max-width: 1365px) {
	.sidebar-nav {
		left: 0;
		height: 100%;
		padding-bottom: 90px;
		.fa-chevron-right {
			display: inline-block;
		}
	}
	.main-nav-closed {
		.sidebar-nav {
			position: fixed;
			left: -100%;
			top: 0;
		}
	}
	.account-menu {
		position: absolute;
		left: 20px;
		bottom: 20px;
	}
	.navbar-collapse {
		height: 100%;
	}
}
@media (max-width: 767px) {
	.account-menu {
		position: absolute;
		left: 20px;
		bottom: 20px;
	}
}
