.f-grid-wrapper {
	overflow: hidden;
	min-height: 50vh;
	padding: 0;
	margin-bottom: 46px;
}

.f-main-grid {
	min-width: calc(100% - 1px);
	thead {
		.sorted-up,
		.sorted-down {
			i {
				color: #0086c0;
				top: 0;
				left: 7.5px;
				position: relative;
				width: 21px;
			}
		}
		.f-sorted {
			font-size: 15px;
			margin: 0 2px;
			position: relative;
		}
		.f-sorted-up {
			left: 7.5px;
			top: -3px;
			color: #dddddd;
		}
		.f-sorted-down {
			left: -5px;
			top: 4px;
			color: #dddddd;
		}
		td,
		th {
			padding: 0 7px;
			color: #85a5bd;
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid #f8f8f8;
		}
		td,
		th {
			white-space: nowrap;
			height: 43px;
			padding: 0 8px;
			font-size: 13px;
			border: 1px solid #f3f3f3;
		}
		.column-row-select {
			border-right: 0;
			width: 30px;
		}
		th:nth-child(2) {
			border-left: 0;
		}
		tr:nth-child(odd) {
			background-color: #fafafa;
		}
		a {
			border-bottom: 1px solid #2e4354;
			color: #2e4354;
			&:hover {
				color: #000;
			}
		}
		tr, td, a {
			color: #5f5f5f;
		}
	}
}
.f-main-grid__header-link {
	padding: 15px 7px;
	display: block;
	color: #85a5bd;
	font-weight: bold;
}

.f-price-table {
	width: 100%;
	th, td {
		padding: 5px 3px;
	}
	.select2-container {
		width: 100% !important;
		min-width: 100px;
	}
}
.f-striped-table {
	width: 100%;
	tbody {
		tr:nth-child(odd) {
			background: #f8f8f8;
		}
	}
	th, td {
		height: 30px;
		padding: 0 8px;
	}
}

.f-total-table {
	width: 100%;
	text-align: left;
	th {
		font-weight: bold;
	}
	th, td {
		height: 30px;
		padding: 0 8px;
	}
}

.f-secondary-table {
	width: 100%;
	thead {
		border-bottom: 1px solid #000000;
	}
	th {
		font-weight: bold;
	}
	th, td {
		height: 30px;
		padding: 0 8px;
	}
}

.f-standart-table {
	width: 100%;
	th, td {
		height: 30px;
		padding: 0 8px;
		border: 1px solid #eee;
	}
}

.f-combined-table {
	width: 100%;
	& > tbody {
		& > tr {
			border-bottom: 1px solid #ebebeb;
			& > td, & > th {
				vertical-align: top;
			}
		}
	}
	th, td {
		height: 30px;
		padding: 0 8px;
	}
}

.f-combined-columns {
	width: 100%;
	tr {
		border: none;
	}
	th {
		padding: 2px 5px;
		text-align: right;
		font-weight: normal;
	}
	td {
		padding: 2px 5px;
		font-weight: bold;
		color: #000;
	}
}

.secondary-grid {
	table {
		p {
			display: block;
		}
		td,
		th {
			padding: 10px 0 10px 10px;
			vertical-align: top;
		}
		td:last-child {
			width: 140px;
		}
	}
}

