<div class="f-content-block">
	<div class="f-buttons-block text-right">
		<button type="button" class="button button1">{{'Save and Submit'|_}}</button>
	</div>
	<div class="information-block" :class="{open:ddOpen('info-block1')}">
		<a href="#" class="information-block-toggle" @click.prevent.stop="ddToggle('info-block1')">{{'Details'|_}}
			<div class=nav-arrow>
				<svg width="10" height="10" v-html="svgIconLink('nav-arrow')"></svg>
			</div>
		</a>
		<div class="information-block-content">
			<div class="f-edited-block f-bordered-block">
				<div class="f-bordered-block__title">
					<p>{{'Vendor Info'|_}}</p>
				</div>
				<div class="section-view">
					<p>
						<select2></select2>
					</p>
				</div>
			</div>
			<div class="f-edited-block f-bordered-block" :class="{on:editing.address}">
				<a href="#" @click.prevent="toggleEditing('address')">
					<i class="fa fa-pencil editor" aria-hidden="true"></i>
					<i class="fa fa-eye close-editor" aria-hidden="true"></i>
				</a>
				<div class="f-bordered-block__title">
					<p>{{'Origin Adress'|_}}</p>
				</div>
				<div class="section-view">
					<div class="adr">
						<span class="street-address f-edited-block__info">Blecker Street</span>
						<span class="street-address f-edited-block__info">New York, New York, 90094</span>
						<span class="phone f-edited-block__info">+1464368535</span>
						<div class="country-name">United States</div>
					</div>
				</div>
				<div class="section-edit">
					<div class="row no-gutter">
						<div class="col-md-6">
							<input type="text" class="f-input" :title="'First Name'|_" :placeholder="'First Name'|_" v-model="form.order.shipping_firstname">
						</div>
						<div class="col-md-6">
							<input type="text" class="f-input" :title="'Last Name'|_" :placeholder="'Last Name'|_" v-model="form.order.shipping_lastname">
						</div>
					</div>
					<div class="row no-gutter">
						<div class="col-md-12">
							<input type="text" class="f-input" :title="'Street Line 1'|_" :placeholder="'Street Line 1'|_" v-model="form.order.shipping_street1">
						</div>
					</div>
					<div class="row no-gutter">
						<div class="col-md-12">
							<input type="text" class="f-input" :title="'Street Line 2'|_" :placeholder="'Street Line 2'|_" v-model="form.order.shipping_street2">
						</div>
					</div>
					<div class="row no-gutter">
						<div class="col-md-6">
							<input type="text" class="f-input" :title="'City'|_" :placeholder="'City'|_" v-model="form.order.shipping_city">
						</div>
						<div class="col-md-6">
							<input type="text" class="f-input" :title="'Zip/Postal Code'|_" :placeholder="'Zip/Postal Code'|_" v-model="form.order.shipping_postcode">
						</div>
					</div>
					<div class="row no-gutter">
						<div class="col-md-6">
							<input type="text" class="geo-region f-input" :title="'State/Region'|_" :placeholder="'State/Region'|_" v-model="form.order.shipping_region" v-if="!regionOptions('shipping')">
							<select2 class="geo-region" style="" :title="'State/Region'|_" v-model="form.order.shipping_region" v-if="regionOptions('shipping')">
								<option></option>
								<option v-for="r in regionOptions('shipping')" :value="r.id">{{r.text}}</option>
							</select2>
						</div>
						<div class="col-md-6">
							<select2 class="geo-country" :title="'Country'|_" v-model="form.order.shipping_country">
								<option></option>
								<option v-for="c in dict.countries_seq" :value="c.id">{{c.text}}</option>
							</select2>
						</div>
					</div>
				</div>
			</div>
			<div class="f-edited-block f-bordered-block" :class="{on:editing.shipping}">
				<a href="#" @click.prevent="toggleEditing('shipping')">
					<i class="fa fa-pencil editor" aria-hidden="true"></i>
					<i class="fa fa-eye close-editor" aria-hidden="true"></i>
				</a>
				<div class="f-bordered-block__title">
					<p>{{'Shipping Address'|_}}</p>
				</div>
				<div class="section-view">
					<p>{{form.order.shipping_firstname}} {{form.order.shipping_lastname}}</p>
					<div class="adr">
						<span class="street-address f-edited-block__info">{{form.order.shipping_street1}}</span>
						<span class="street-address f-edited-block__info" v-if="form.order.shipping_street2">{{form.order.shipping_street2}}</span>
						<span class="locality f-edited-block__info">{{form.order.shipping_city}}</span>
						<span class="region f-edited-block__info">{{form.order.shipping_region}}</span>
						<span class="postal-code f-edited-block__info">{{form.order.shipping_postcode}}</span>
						<div class="country-name">{{dict.countries[form.order.shipping_country]}}</div>
					</div>
				</div>
				<div class="section-edit">
					<div class="row no-gutter">
						<div class="col-md-6">
							<input type="text" class="f-input" :title="'First Name'|_" :placeholder="'First Name'|_" v-model="form.order.shipping_firstname">
						</div>
						<div class="col-md-6">
							<input type="text" class="f-input" :title="'Last Name'|_" :placeholder="'Last Name'|_" v-model="form.order.shipping_lastname">
						</div>
					</div>
					<div class="row no-gutter">
						<div class="col-md-12">
							<input type="text" class="f-input" :title="'Street Line 1'|_" :placeholder="'Street Line 1'|_" v-model="form.order.shipping_street1">
						</div>
					</div>
					<div class="row no-gutter">
						<div class="col-md-12">
							<input type="text" class="f-input" :title="'Street Line 2'|_" :placeholder="'Street Line 2'|_" v-model="form.order.shipping_street2">
						</div>
					</div>
					<div class="row no-gutter">
						<div class="col-md-6">
							<input type="text" class="f-input" :title="'City'|_" :placeholder="'City'|_" v-model="form.order.shipping_city">
						</div>
						<div class="col-md-6">
							<input type="text" class="f-input" :title="'Zip/Postal Code'|_" :placeholder="'Zip/Postal Code'|_" v-model="form.order.shipping_postcode">
						</div>
					</div>
					<div class="row no-gutter">
						<div class="col-md-6">
							<input type="text" class="geo-region f-input" :title="'State/Region'|_" :placeholder="'State/Region'|_" v-model="form.order.shipping_region" v-if="!regionOptions('shipping')">
							<select2 class="geo-region" style="" :title="'State/Region'|_" v-model="form.order.shipping_region" v-if="regionOptions('shipping')">
								<option></option>
								<option v-for="r in regionOptions('shipping')" :value="r.id">{{r.text}}</option>
							</select2>
						</div>
						<div class="col-md-6">
							<select2 class="geo-country" :title="'Country'|_" v-model="form.order.shipping_country">
								<option></option>
								<option v-for="c in dict.countries_seq" :value="c.id">{{c.text}}</option>
							</select2>
						</div>
					</div>
				</div>
			</div>
			<div class="f-edited-block f-bordered-block">
				<div class="f-bordered-block__title">
					<p>{{'Shipping'|_}}</p>
				</div>
				<div class="section-view">
					<select2></select2>
					<select2></select2>
				</div>
			</div>
			<div class="f-edited-block f-bordered-block">
				<div class="f-bordered-block__title">
					<p>{{'Commission'|_}}</p>
				</div>
				<p>Transaction Fee</p>
				<p>Percent Fee</p>
				<p>Fixed Fee</p>
			</div>
		</div>
	</div>
	<div class="information-block grid-block" :class="{open:ddOpen('info-block2')}">
		<a href="#" class="information-block-toggle" @click.prevent.stop="ddToggle('info-block2')">{{'Items'|_}}
			<div class=nav-arrow>
				<svg width="10" height="10" v-html="svgIconLink('nav-arrow')"></svg>
			</div>
		</a>
		<div class="information-block-content">
			<sv-comp-grid :grid="itemsGrid"></sv-comp-grid>
		</div>
	</div>
	<div class="information-block text-right" :class="{open:ddOpen('info-block3')}">
		<a href="#" class="information-block-toggle" @click.prevent.stop="ddToggle('info-block3')">{{'Totals'|_}}
			<div class=nav-arrow>
				<svg width="10" height="10" v-html="svgIconLink('nav-arrow')"></svg>
			</div>
		</a>
		<div class="information-block-content">
			<div class="f-totals-table-block f-bordered-block">
				<div class="f-bordered-block__title">
					<p>{{'Totals'|_}}</p>
				</div>
				<table class="f-striped-table f-total-table">
					<tbody>
						<tr>
							<th>{{'Subtotal'|_}}</th>
							<td>{{form.order.subtotal|currency(form.order.store_currency_code)}}</td>
						</tr>
						<tr>
							<th>{{'Shipping & Handling'|_}}</th>
							<td>{{form.order.shipping_price|currency(form.order.store_currency_code)}}</td>
						</tr>
						<tr>
							<th>{{'Discount'|_}}</th>
							<td>{{form.order.discount_amount|currency(form.order.store_currency_code)}}</td>
						</tr>
						<tr>
							<th>{{'Tax'|_}}</th>
							<td>{{form.order.tax_amount|currency(form.order.store_currency_code)}}</td>
						</tr>
						<tr>
							<th>{{'Grand Total'|_}}</th>
							<td>{{form.order.grand_total|currency(form.order.store_currency_code)}}</td>
						</tr>
						<tr>
							<th>{{'Store Credit'|_}}</th>
							<td>{{paidByStoreCredit|currency(form.order.store_currency_code)}}</td>
						</tr>
						<tr>
							<th>{{'Amount Captured'|_}}</th>
							<td>{{form.order.amount_paid|currency(form.order.store_currency_code)}}</td>
						</tr>
						<tr>
							<th>{{'Balance Due'|_}}</th>
							<td>{{form.order.amount_due|currency(form.order.store_currency_code)}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>