<div class="f-content-block">
      <div class="row">
            <div class="col-md-12">
                  <fieldset class="f-section">
                        <sv-comp-form-catalog-prices
                              :options="form.config.options"
                              :prices="form.prices"></sv-comp-form-catalog-prices>
                  </fieldset>
            </div>
      </div>
</div>