<div>
	<div class="row">
		<div class="col-md-12 col-lg-8">
			<div class="row">
				<div class="col-md-6 secondary-control-block">
					<div>
						<div class="f-buttons-block text-right">
							<button class="button button11">{{'Expand All'|_}}</button>
							<button class="button button11">{{'Collapse All'|_}}</button>
							<button class="button button8" @click="showAddComment()">{{'Add comment'|_}}</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="sort-by">
						<ul>
							<li>{{'Sort By:'|_}}</li>
							<li v-for="sbo in sort_by_options"><a href="#" @click.prevent="toggleSort(sbo.name)">
								<span>{{sbo.label|_}}</span>
								<i v-if="sort_by === sbo.name" aria-hidden="true" class="fa" :class="'fa-caret-' + (sort_by_dir === 'asc' ? 'down' : 'up')"></i>
							</a></li>
						</ul>
					</div>
				
				</div>				
			</div>
			<comment v-for="comment in form.comments" :comment="comment"
					 :class="{'sent-comment':comment.type==='sent', 'received-comment':comment.type==='received'}">
			</comment>
		</div>
		<div v-if="show_add_comment" class="col-md-12 col-lg-4">
			<comment-add></comment-add>
		</div>
	</div>
</div>