<div>
	<div class="row">
		<div class="col-md-12 col-lg-5">
			<component v-for="section in detailsSections" :key="section.name" :is="section.component" :name="section.name" :form="form"
					   :entity="curHlpEntity" @add="addEntity" @edit="editEntity"></component>
		</div>

		<div class="col-md-12 col-lg-7">
			<component v-if="curHlpComponent" :is="curHlpComponent" :form="form" :entity="curHlpEntity" @action="doFormAction"></component>
		</div>
	</div>
	
	
	
</div>