
<div class="f-content-block details-information">
    <div class="block-title">
        <p>{{'Shipments'|_}}</p>
        <button type="button" class="button-small button1" @click="$emit('add', 'shipment')">{{'Add'|_}}</button>
    </div>
    <div>
        <table v-if="form.shipments.length" class="f-secondary-table">
            <thead>
            <tr>
                <th>{{'Timeline'|_}}</th>
                <th>{{'Packages'|_}}</th>
                <th>{{'Method'|_}}</th>
                <th>{{'Status'|_}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="s in form.shipments" @click="$emit('edit', 'shipment', s)" :class="{active:entity===s}">
                <td>{{s.create_at|date}}</td>
                <td>
                    <div v-for="item in s.items">
                        <span>{{item.inventory_sku}} x{{item.qty}}</span>: {{item.product_name}}
                    </div>
                </td>
                <td>{{s.carrier_desc}} / {{s.service_desc}}</td>
                <td :class="'status-' + s.state_overall">{{form.options.shipment_state_overall[s.state_overall]}}</td>
            </tr>
            </tbody>
        </table>
        <div v-else>{{'No shipments in this order'|_}}</div>
    </div>
</div>