.f-buttons-block {
      padding: 5px 0 6px;
      .f-dropdown {
            display: inline-block;
      }
      .button-lock {
            vertical-align: middle;
      }
      .button, .small-button {
            margin-bottom: 4px;
            margin-left: 6px;
      }
      .select2-container {
            min-width: 250px;
            text-align: left;
      }
      .f-icon-button {
            vertical-align: middle;
            margin: 0 10px;
      }
}

.button {
      /*min-width: 133px;*/
      text-align: center;
      padding: 8px 20px;
      transition: 0.1s all ease-in;
      display: inline-block;
      font-size: 13px;
      border-radius: 5px;
      font-weight: bold;
      &:focus {
            outline: none;
      }
}
.small-button {
      /*min-width: 133px;*/
      text-align: center;
      padding: 5px 4%;
      transition: 0.1s all ease-in;
      display: inline-block;
      font-size: 13px;
      border-radius: 5px;
      box-shadow: 1px 2px 0 0 rgba(211,111,23,0.5);
      font-weight: bold;
      &:active {
            box-shadow: inset 0 7px 13px rgba(0, 0, 0, .24);
      }
      &:focus {
            outline: none;
      }
}

.button1 {
      background-color: #ff9000;
      border: 1px solid #d67d0b;
      box-shadow: 1px 2px 0 0 rgba(211, 111, 23, 0.5);
      color: #fff;
      span {
            color: #fff;
      }
      &:active {
            background-color: #ca7302;
            box-shadow: 1px 2px 0 0 rgba(211, 111, 23, 0.5), inset 2px 2px 3px 0 rgba(44, 42, 42, 0.5);
            color: #fff;
      }
      &:hover {
            background: #ca7302;
            color: #fff;
            span {
                  color: #fff;
            }
      }
}

.button2 {
      background-color: #fff;
      border: solid 1px #d67d0b;
      box-shadow: 1px 2px 0 0 rgba(211, 111, 23, 0.5);
      color: #ff8f00;
      span {
            color: #ff8f00;
      }
      &:active {
            background-color: #ff8f00;
            border: solid 1px #d67d0b;
            color: #fff;
            box-shadow: 1px 2px 0 0 rgba(211, 111, 23, 0.5), inset 2px 2px 3px 0 rgba(44, 42, 42, 0.5);
      }
      &:hover {
            background-color: #ff8f00;
            border: solid 1px #d67d0b;
            color: #fff;
            span {
                  color: #fff;
            }
      }
}

.button4 {
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid #aba7a7;
      color: #6a6c6d;
      box-shadow: 1px 2px 0 0 rgba(177, 175, 174, 0.5);
      span {
            color: #6a6c6d;
      }
      &:active {
            background-color: #d40017;
            border: 1px solid #ff2b42;
            color: #fff;
            box-shadow: 1px 2px 0 0 rgba(177, 175, 174, 0.5), inset 2px 2px 3px 0 rgba(44, 42, 42, 0.5);
      }
      &:hover {
            background-color: #ff2b42;
            border: 1px solid #da1429;
            color: #fff;
      }
}



.button5 {
      background-color: #dde4ea;
      color: #2e4354;
      font-weight: normal;
      box-shadow: 1px 2px 0 0 rgba(211, 111, 23, 0.5);
      border-radius: 5px;
      span {
            color: #2e4354;
      }
      &:active {
            background-color: #f2f2f2;
            box-shadow: inset 0 1px 3px 0 rgba(112, 112, 112, 0.5);
      }
      &:hover {
            background-color: #b9c1c9;
      }
}

.button6 {
      background-color: #ff2b42;
      font-weight: bold;
      border: 1px solid #ff2b42;
      box-shadow: 1px 2px 0 0 rgba(211, 111, 23, 0.5);
      color: #fff;
      span {
            color: #fff;
      }
      &:focus {
            background-color: #ff2b42;
            border: 1px solid #ff2b42;
            color: #fff;
      }
      &:hover {
            background-color: #d40017;
            border: 1px solid #ff2b42;
      }
}

.del-button {
      background: #ff2b42;
      font-size: 14px;
      padding: 8px;
      &:hover, &:active, &:focus {
            background: #d40017;
      }
}

.add-button {
      background: #00c0ef;
      font-size: 14px;
      padding: 8px;
      &:hover, &:active, &:focus {
            background: #038fb1;
      }
}

.f-grid-filter-panel {
   /*   .f-action-button-b {
            min-width: 160px;
            display: inline-block;
            vertical-align: middle;
      }*/
}

.f-filter-tags__clear-button {
            border-radius: 5px;
            background-color: #ffffff;
            border: solid 1px #d0dae3;
            color: #2e4354;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding: 8px 10px;
            margin: 10px 5px 5px;
            &:active {
                  background-color: #d0dae3;
                  box-shadow: inset 2px 2px 3px 0 rgba(44, 42, 42, 0.5);
            }
            &:hover {
                  background-color: #d0dae3;
            }
      }


/*Big action button*/
.f-action-button-b {
      position: relative;
      text-align: left;
      display: inline-block;
      &.open {
            .f-action-button-b__menu {
                  display: block;
                  border-radius: 0 0 5px 5px;
            }
            .f-action-button-b__toggle {
                  border-radius: 5px 5px 0 0;
            }
      }
      .f-caret {
            padding: 9px 11px;
            height: 100%;
            border-radius: 0 5px 5px 0;
            right: 1px;
      }
}

.f-action-button-b__toggle {
      border-radius: 5px;
      border: solid 1px #d0dae3;
      display: inline-block;
      padding: 8px 30px 8px 7px;
      position: relative;
      color: #2e4354;
      width: 100%;
      &:hover {
            color: #000;
            background-color: #d8d8d8;
      }
}

.f-action-button-b__menu {
      padding: 0;
      position: absolute;
      top: calc(100% - 1px);
      z-index: 1000;
      display: none;
      list-style: none;
      text-align: left;
      background-color: #fff;
      border: solid 1px #d0dae3;
      border-radius: 5px;
      width: 100%;
      min-width: 160px;
}

.f-action-button-b__item {
      white-space: nowrap;
      position: relative;
      color: #5f5f5f;
      border-bottom:  solid 1px #d0dae3;
      &.active {
            color: #020202;
            font-weight: bold;
      }
      &:hover {
            background-color: #d8d8d8;
      }
      &:last-child {
            border: 0;
      }
}

.f-action-button-b__link {
      display: block;
      padding: 5px 20px 5px 7px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333333;
      white-space: nowrap;
      font-size: 13px;
      &:hover {
            text-decoration: none;
            color: #262626;
      }
      &:active {
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      }
}

.f-action-button-s {
      border-radius: 3px;
      border:  solid 1px #d0dae3;
      .f-caret {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2px;
      }
      .caret {
            margin: 0;
      }
      &.open {
            .action-button {
                  border-radius: 3px 3px 0 0;
            }
      }
}
.f-actions-dropdown {
      display: inline-block;
      margin-bottom: 4px;
      margin-left: 4px;
      .f-caret__elem {
            border-top: 4px solid #fff;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            margin: 0;
      }
      .f-caret {
            padding: 8px 12px;
            border-radius: 5px;
            border: 1px solid #d67d0b;
            text-align: center;
            top: 0;
            transform: translate(0%);
            right: 0;
            &:hover {
                  background: rgba(0, 0, 0, 0.1);
            }
            &:active {
                  background: rgba(0, 0, 0, 0.2);
            }
      }
      .button {
            padding: 8px 10px 8px 10px;
            text-align: center;
            margin-left: 0;
            white-space: nowrap;
      }
      .f-dropdown__menu {
            background-color: transparent;
            border: 0;
            top: 100%;
            .button {
                 width: 100%;
                  margin-bottom: 4px;
                  margin-left: 0;
            }
      }
}
.f-actions-dropdown-arrow {
      display: inline-block;
      margin-bottom: 4px;
      margin-left: 4px;
      .f-caret__elem {
            border-top: 4px solid #fff;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            margin: 0;
      }
      .f-caret {
            padding: 8px 12px;
            border-radius: 5px;
            border: 1px solid #d67d0b;
            text-align: center;
            top: 0;
            transform: translate(0%);
            right: 0;
            &:hover {
                  background: rgba(0, 0, 0, 0.1);
            }
            &:active {
                  background: rgba(0, 0, 0, 0.2);
            }
      }
      .button {
            padding: 8px 50px 8px 20px;
            text-align: left;
            margin-left: 0;
            white-space: nowrap;
      }
      .f-dropdown__menu {
            background-color: transparent;
            border: 0;
            top: 100%;
            .button {
                  width: 100%;
                  margin-bottom: 4px;
                  margin-left: 0;
            }
      }
}
.button3 {
      background-color: transparent;
      border: 1px solid #e5dfdf;
      color: #2d2d2d;
      span {
            color: #2d2d2d;
      }
      &:focus {
            background-color: transparent;
            color: #2d2d2d;
            border: 1px solid #e5dfdf;
      }
      &:hover {
            background-color: #8b8b8b;
            color: #fff;
            span {
                  color: #fff;
            }
      }
}

/*.button-lock {
      border: 0;
      background: none;
      padding: 8px 7px;
      width: 40px;
      height: 40px;
      .fa {
            font-size: 22px;
      }
      .fa-lock {
            display: inline-block;
            color: darkred;
      }
      .fa-unlock {
            display: none;
            color: limegreen;
      }
      &.open {
            .fa-lock {
                  display: none;
            }
            .fa-unlock {
                  display: inline-block;
            }
      }
}*/
.f-icon-button {
      border: 2px solid #d67d0b;
      border-radius: 5px;
      padding: 8px 7px;
      width: 40px;
      height: 40px;
      background: #fff;
      &:hover {
            background-color: rgba(255, 143, 0, 0.1);
      }
      &:active {
            box-shadow: inset 0 7px 13px rgba(0, 0, 0, .24);
      }
      .fa-lock {
            display: inline-block;
            color: #ff9000;
            font-size: 22px;
      }
      .fa-unlock {
            display: none;
            color: #ff9000;
            font-size: 22px;
      }
      &.open {
            .fa-lock {
                  display: none;
            }
            .fa-unlock {
                  display: inline-block;
            }
      }
}

.f-caret {
      position: absolute;
      top: 43%;
      transform: translateY(-50%);
      right: 2px;

}

.f-caret__elem {
      margin: 0 0 0 2px;
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: middle;
      border-top: 4px solid #2e4354;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
}

.translate-icon {
      font-size: 18px;
      padding: 4px 5px;
      color: #5f5f5f;
      &:hover {
            color: #000;
      }
}
.f-menu_right {
      right: 0;
      left: inherit;
}

@media (max-width: 1023px) {
      .f-mobile-button {
            .f-actions-dropdown .button {
                  min-width: 160px;
            }
            .f-action-button-b {
                  min-width: 160px;
            }
      }
}
@media (max-width: 767px) {
      .button {
            min-width: 108px;
            font-size: 12px;
      }
      .f-grid-filter-panel {
            .f-action-button-b {
                  min-width: inherit;
                  width: 49%;
                  margin: 0 0 5px;
            }
      }
      .f-filter-tags__clear-button {
            padding: 4px 10px;
      }
      /*.f-action-button-b__toggle {
            font-size: 12px;
      }*/
      .f-action-button-b__link {
            font-size: 12px;
      }
      .f-mobile-button {
            .f-actions-dropdown .button {
                  min-width: 100px;
            }
            .f-action-button-b {
                  min-width: 100px;
            }
      }
      .small-button {
            font-size: 12px;
      }
      .f-action-button-b__menu {
            left: 0;
      }

}