/*.select2-container {
     width: 100% !important;
}*/
.select2-container--open {
      z-index: 999999;
}
.select2-dropdown {
      border: solid 1px #d0dae3;
      border-radius: 1px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
      background-color: #f9f9f9;
      color: #2e4354;
}
.select2-container--default .select2-results__option[aria-selected=true] {
      background-color: #f5f5f5;
      color: #2e4354;
}
.select2-container--open .select2-dropdown--below {
      border-top: none;
      border-radius: 0 0 5px 5px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
      border: solid 1px #d0dae3;
      border-radius: 5px;
      padding: 0 0 2px;
}
.select2-container--default .select2-selection--multiple {
      border: solid 1px #d0dae3;
}
.select2-container--default .select2-search--inline .select2-search__field {
      font-size: 12px;
      box-shadow: none;
      margin: 5px 0 0 0;
      line-height: 1.4;
      padding: 2px 7px 1px;
}
.select2-container .select2-selection--multiple {
      min-height: inherit;
      padding: 0 0 2px 0;
      border-radius: 5px;
      max-height: 34px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
      background: #e3e3e3;
      border: none;
      border-radius: 5px;
      color: #868a8a;
      padding: 2px 8px;
      margin: 5px 3px 0 0;
}
.select2-container .select2-selection--single {
      height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 34px;
      font-size: 13px;
      font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
      color: #333;
}
.select2-container--default .select2-selection--single {
      border: solid 1px #d0dae3;
      border-radius: 5px;
}
.multiselect {
      min-height: 33px !important;
      color: #474646 !important;
}
.multiselect__select {
      height: 33px !important;
}
.multiselect__tags {
      min-height: 33px !important;
      border-radius: 0 !important;
      max-height: 33px !important;
      padding: 4px 40px 0 8px !important;
}
.multiselect__input, .multiselect__single {
      font-size: 12px !important;
}
.multiselect__select:before {
      top: 54% !important;
}
.select2-results__option {
      font-weight: 500;
      font-size: 13px;
      font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
      color: #333;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
      font-size: 13px;
      font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
      color: #333;
}