input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance:textfield;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="date"].f-input,
	input[type="time"].f-input,
	input[type="datetime-local"].f-input,
	input[type="month"].f-input {
		line-height: 1.4;
	}
}

/*Inputs group*/

.f-form-group {
	position: relative;
	display: table;
	border-collapse: separate;
	width: 100%;
	input[type="date"] {
		padding: 6px 12px;
		height: 34px;
	}
	.f-input, .f-input-number, .f-textarea {
		display: table-cell;
	}
	.select2-container {
		width: 100% !important;
	}
}

.f-form-group__addon {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	box-sizing: border-box;
	width: 1%;
	white-space: nowrap;
	&.open {
		.f-form-group__addon-menu {
			display: block;
			z-index: 99;
			white-space: nowrap;
			border-radius: 0 5px 5px 5px;
		}
		.f-form-group__addon-toggle {
			border-radius: 5px 0 0 0;
		}
	}
}

.f-form-group__addon-toggle {
	display: table-cell;
	padding: 9px 13px;
	position: relative;
	white-space: nowrap;
	background-color: #d0dae3;
	box-shadow: none !important;
	border: 0;
	border-radius: 5px 0 0 5px;
	span {
		color: #000;
		font-size: 13px;
	}
}

.f-form-group__addon-menu {
	padding: 0;
	width: auto;
	min-width: 100%;
	top: 34px;
	box-shadow: none;
	background-color: #dde4ea;
	border-radius: 5px;
	display: none;
	position: absolute;
	left: 0;
}

.f-form-group__addon-item {
	border-bottom: 1px solid #fff;
	&:last-child {
		border-radius: 0 0 5px 5px;
	}
}

.f-form-group__addon-link {
	padding: 6px 10px 6px 10px;
	color: #2e4354;
	display: inline-block;
	width: 100%;
	font-size: 13px;
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	&:hover {
		color: #000;
	}
}


.f-form-group-btn {
	display: table-cell;
	position: relative;
	font-size: 0;
	white-space: nowrap;
	vertical-align: middle;
	width: 1%;
	&.not-range {
		width: 100%;
		.select2-container .select2-selection--multiple {
			border-radius: 0 5px 5px 0;
		}
	}
	&.range {
		width: 100%;
		.f-input, .f-input-number {
			width: 50%;
			min-width: 50px;
			display: inline-block;
		}
	}
	.f-input:first-child,  .f-input-number:first-child {
		border-radius: 0;
		border-right: 0;
	}
	.f-input:last-child, .f-input-number:last-child {
		border-radius: 0 5px 5px 0;
		border: 1px solid #d0dae3;
	}
}

.f-form-group__label {
	width: 100%;
	cursor: pointer;
	font-weight: 500;
	padding: 0 0 0 10px;
	margin-bottom: 5px;
	label {
		margin-bottom: 0;
	}
}

.f-delete {
	color: #474646;
	display: inline-block;
	vertical-align: middle;
	&:hover {
		color: #000;

	}
}

.f-input-group {
	display: table;
	white-space: nowrap;
	width: 100%;
	& > * {
		border-radius: 0;
	}
	.f-input {
		border-radius: 0;
	}
	& :first-child {
		border-radius: 5px 0 0 5px;
	}
	& :last-child {
		border-radius: 0 5px 5px 0;
	}
}

.f-input-group__addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #555555;
	text-align: center;
	background-color: #dde4ea;
	display: table-cell;
}

.f-price-table {
	input[type="date"].f-input {
		padding: 6px 12px;
		height: 34px;
	}
}


/*Main forms styles*/

.f-form-container {
	padding: 20px 0;
	.row {
		margin: 0 0 20px 0;
	}
}

.f-form-group {
	.error-message {
		visibility: hidden;
	}
	.translate-icon {
		position: absolute;
		right: 20px;
		top: 4px;
	}
}

.f-form-label {
	color: #000;
	cursor: pointer;
	text-align: right;
	padding-top: 7px;
	font-weight: bold;
}

.f-input {
	font-size: 13px;
	padding: 9px 12px;
	max-height: 34px;
	border-radius: 5px;
	box-shadow: none;
	border: solid 1px #d0dae3;
	height: auto;
	width: 100%;
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	color: #333;
	&:hover,
	&:focus,
	&:active {
		border: 1px solid #abb7c1;
	}
	&:focus {
		border-color: #9eaab3;
	}
}
.f-translate-block__input, .f-translate-block__textarea, .f-translate-block__number {
	width: calc(100% - 40px);
}
.f-date {
	font-size: 13px;
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	color: #333;
}
.f-input-number {
	font-size: 13px;
	padding: 9px 12px;
	border-radius: 5px;
	box-shadow: none;
	border: solid 1px #d0dae3;
	height: auto;
	width: 100%;
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	color: #333;
	max-height: 34px;
	&:hover,
	&:focus,
	&:active {
		border: 1px solid #abb7c1;
	}
	&:focus {
		border-color: #9eaab3;
	}
}

.f-textarea {
	font-size: 13px !important;
	padding: 9px 12px;
	border-radius: 5px;
	box-shadow: none;
	border: solid 1px #d0dae3;
	resize: vertical;
	width: 100%;
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	color: #333;
	&:hover,
	&:focus,
	&:active {
		border: 1px solid #abb7c1;
	}
	&:focus {
		border-color: #9eaab3;
	}
}


/*Checkbox block*/

.f-checkbox-block {
	width: 48px;
	height: 28px;
	border-radius: 20px;
	border: 1px solid #eee;
	transition: 0.1s all ease-in;
	position: relative;
	cursor: pointer;
	background: #fff;
}

.f-checkbox-block__elem {
	width: 26px;
	height: 26px;
	border-radius: 100%;
	background: #ffffff;
	position: absolute;
	left: -1px;
	top: 0;
	transition: 0.2s all ease-in;
	border: 1px solid #eee;
	box-shadow: 2px 1px 3px 0 rgba(0, 0, 0, 0.06);
}

.f-input-checkbox-b, .f-input-checkbox-s, .f-input-radio, .f-input-checkbox { /*"Display: none" was not used so that you can switch using "tab"*/
	height: 0  !important;
	width: 0  !important;
	display: block  !important;
	margin: 0 !important;
	padding: 0  !important;
	-moz-appearance: none;
	opacity: 0;
}

.f-input-checkbox-b {
	& + span {
		width: 20px;
		height: 20px;
		border: solid 1px #d0dae3;
		display: inline-block;
		text-align: center;
		margin-right: 6px; 
		border-radius: 3px;
		padding: 3px 0;
		cursor: pointer;
		i {
			display: none;
			font-size: 14px;
			opacity: 0;
			visibility: hidden;
			color: #fff;
		}
	}
	&:checked {
		& + span {
			background: #d0dae3;
			i {
				display: inline-block;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	& ~ span {
		font-size: 13px;
		display: inline-block;
		font-weight: normal;
		vertical-align: middle;
	}
}

.f-input-checkbox-s {
	& + span {
		width: 12px;
		height: 12px;
		border-radius: 3px;
		padding: 0;
		position: relative;
		margin-right: 5px;
		display: inline-block;
		border: solid 1px #d0dae3;
		background: #fff;
		color: #fff;
		i {
			font-size: 9px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: none;
		}
	}
	&:checked {
		& + span {
			background: #d0dae3;
			i {
				display: inline-block;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	& ~ span {
		font-size: 13px;
		display: inline-block;
		font-weight: normal;
		vertical-align: middle;
	}
}

.f-selector-dropdown {
	.f-action-button-s {
		position: relative;
		padding: 3px 15px 3px 9px;
	}
}

.f-selector-dropdown__label {
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	color: #333;
	font-weight: normal;
	display: inline-block;
	padding: 0;
	cursor: pointer;
	margin-bottom: 0;
	.f-dropdown__menu {
		margin: 0;
		padding: 0;
		top: 100%;
		left: 9px;
		border: solid 1px #d0dae3;
		border-radius: 0 3px 3px 3px;
		& > li > a {
			border-bottom: solid 1px #d0dae3;
			padding: 0;
			&:hover {
				background-color: #d0dae3;
				.f-input-checkbox + span {
					border: solid 1px #2e4354;
				}
			}
			&:active {
				box-shadow: inset 0 1px 3px 0 rgba(112, 112, 112, 0.5);
				.f-input-checkbox + span {
					border: solid 1px #2e4354;
				}
			}
		}
		& > li:last-child a {
			border: 0;
		}
	}
	.action-button {
		label {
			padding: 0;
			width: initial;
		}
	}
}

.f-dropdown__menu__link {
	label {
		font-weight: normal;
		margin-bottom: 0;
		clear: both;
		line-height: 1.42857;
		font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
		color: #333;
		white-space: nowrap;
		font-size: 13px;
		cursor: pointer;
	}
	&:hover {
		.f-input-checkbox-s + span {
			border: solid 1px #2e4354;
		}
	}
}


/*Radiobutton block*/

.f-input-radio {
	& + span {
		width: 21px;
		height: 21px;
		border-radius: 21px;
		background-color: rgba(255, 255, 255, 0);
		border: solid 1px #ccd1d9;
		display: inline-block;
		text-align: center;
		padding: 0;
		margin-right: 6px;
		vertical-align: middle;
		cursor: pointer;
		i {
			display: none;
			font-size: 8px;
			color: #ccd1d9;
		}
	}
	&:checked {
		&+ span {
			i {
				display: inline-block;
			}
		}
	}
	& ~ span {
		font-size: 13px;
		display: inline-block;
		font-weight: normal;
		vertical-align: middle;
	}
}


/*Checkbox element*/

.f-input-checkbox {
	&:checked + .f-checkbox-block {
		background: #4dd865;
		border: 1px solid #4dd865;
		.f-checkbox-block__elem {
			left: 20px;
			border: 1px solid #fff;
		}
	}
	&:focus + .f-checkbox-block {
		box-shadow: 0 1px 6px 1px rgba(15, 84, 17, 0.3);
	}
}


/*Editor block*/
.ckeditor {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

.error-message {
	color: darkred;
	padding: 0 0 0 6px;
	visibility: visible;
	display: block;
}
.error {
	.error-message {
		visibility: visible;
	}
	.form-control {
		border: 1px solid darkred;
	}
}
.required {
	.f-form-label {
		position: relative;
		padding-right: 2em;
		&:after {
			content: "*";
			display: inline-block;
			position: absolute;
			right: 15px;
			top: 5px;  
		}
	}
}

.translating {
	.f-input, .f-textarea, .f-input-number, .ckeditor {
		width: calc(100% - 40px);
	}
}

@media (max-width: 767px) {
	.f-form-label {
		text-align: left;
	}
}