<div>
    <div class="row">
        <div class="col-md-12">
            <div class="f-buttons-block text-right">
                <button type="button" class="button button1" @click="checkUpdates()">{{'Check For Updates'|_}}</button>
                <button type="button" class="button button1" @click="runMigrationScripts()">{{'Run Migration Scripts'|_}}</button>
            </div>
        </div>
    </div>
    <sv-comp-grid :grid="grid"></sv-comp-grid>
</div>

