<div class='f-pagination f-filter__elem'>
   <!-- <div class="pagination hidden-lg dropdown" :class="{open:ddOpen(ddName)}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" :aria-expanded="ddOpen(ddName)"
           @click.prevent.stop="ddToggle(ddName)"><span>{{curPagesize}}</span><span class="f-caret"><b class="caret"></b></span></a>
        <ul class="dropdown-menu">
            <li v-for="ps in pagesizeOptions" :class="{active: ps == curPagesize}"><a href="#" @click.prevent="setPagesize(ps)" class="js-change-url page-size">{{ps}}</a></li>
        </ul>
    </div>-->
    <!--<ul class="pagination pagination-sm pagination-griddle page">
        <li class="prev"><a href="#" @click.prevent="goPrevPage()">{{'Previous'|_}}</a></li>
        <li class="page active">
            <input type="number" min=1 step="1" v-model="curPage" @change="goPage()"/>
        </li>
        <li>{{'of'|_}}<span>{{numPages}}</span></li>
        <li class="next"><a href="#" @click.prevent="goNextPage()">{{'Next'|_}}</a></li>
    </ul>-->
    <a href="#" class="f-pagination__prev-page" @click.prevent="goPrevPage()">
		<i class="fa fa-caret-left" aria-hidden="true"></i>
    </a>
	<div class="f-pagination__dropdown" :class="{open:ddOpen(ddName)}">
		<a href="#" class="f-pagination__toggle" @click.prevent.stop="ddToggle(ddName)">{{curPage}} {{'of'|_}} {{numPages}}
			<span class="f-caret"><b class="f-caret__elem"></b></span></a>
    	<ul class="f-pagination__menu" @click.stop>
			<li v-for="p in numPages" class="f-pagination__item"><a href="#" @click.prevent="goPage(p)" class="f-pagination__link">{{p}}</a></li>
    	</ul>
    </div>
	<a href="#" class="f-pagination__next-page" @click.prevent="goNextPage()">
		<i class="fa fa-caret-right" aria-hidden="true"></i>
	</a>
</div>