<div class="option-box">
    <ol class="ui-sortable" v-sortable="{onUpdate:sortingUpdate}">
        <li v-for="col in grid.config.columns">
            <i class="handle fa fa-ellipsis-v" aria-hidden="true"></i>
            <label>
                <input type="checkbox" :checked="!col.hidden" @click="toggleColumn(col)" class="f-input-checkbox-b"/><span><i class="fa fa-check" aria-hidden="true"></i></span><span>{{col.label}}</span></label>
        </li>
    </ol>
</div>