<div class="login-container">
	<img :src="assetUrl('FCom_AdminSPA', 'img/logo-big.png')" alt="" />
	<div class="form-horizontal">
		<form>
			<p>{{'Welcome, please sign in'|_}}</p>
			<div class="form-group">
				<label>
					<span>{{'Username'|_}}</span>
					<input type="text" v-model="username" class="f-input" @keyup.enter="submit">
				</label>
			</div>
			<div class="form-group">
				<label>
					<span>{{'Password'|_}}</span>
					<input type="password" v-model="password" class="f-input" @keyup.enter="submit">
				</label>
			</div>
			<div class="form-group">
				<label>
					<div class="col-xs-2">
						<checkbox v-model="remember_me"></checkbox>
					</div>
					<p class="col-xs-10 control-label">{{'Remember me'|_}}</p>
				</label>
			</div>
			<router-link to="/password-recover">{{'Forgot your password?'|_}}</router-link>
			<div class="f-buttons-block text-right">
				<button @click="submit" class="button button6" v-ladda="{on:logging_in}">Sign in</button>
			</div>
		</form>
	</div>
</div>