<div class="login-container">
	<img :src="assetUrl('FCom_AdminSPA', 'img/logo-big.png')" alt="" />
	<form>		
		<p>Password Help</p>
		<span>Enter your email address. You will receive an email with a link to reset your password</span>
		<label>
			<span>Email or Username</span>
			<input type="text" v-model="username" class="f-input">
		</label>
		<div class="f-buttons-block text-right">
			<router-link class="button button7" to="/login">{{'Back to Sign in'|_}}</router-link>
			<input type="button" @click="submit" value="Retrieve Password " class="button button6">
		</div>
	</form>
</div>