.login-container {
	width: 536px;
	border-radius: 1px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .03);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 50px;
	text-align: center;
	p {
		font-size: 22px;
		color: #ff253d;
		text-align: center;
		margin-bottom: 15px;
	}
	a {
		color: #ff253d;
		display: inline-block;
		&:hover {
			color: #d40017;
		}
	}
	img {
		margin-bottom: 30px;
	}
	label {
		display: inline-block;
		width: 100%;
		span {
			font-weight: bold;
			color: #1b1b1b;
			display: inline-block;
			margin-bottom: 9px;
		}
	}
	form {
		text-align: left;
		& > span {
			display: block;
			width: 80%;
			margin: 0 auto 20px;
			text-align: center;
			color: #000000;
		}
	}	
	.control-label {
		text-align: left;
		margin: 7px 0 7px 0;
		padding: 0 0 0 40px;
	}
}

@media (max-width: 767px) {
	.login-container {
		width: 90%;
		position: absolute;
		margin: 0 auto;
		top: 20px;
		left: 50%;
		transform: translate(-50%, 0%);
		padding: 40px 40px 30px;
		p {
			font-size: 16px;
		}
		a {
			margin: 0 0 15px 0;
		}
		.buttons-block {
			text-align: center; 
		}
	}
}