.f-settings-block {
      padding: 0;
}

.f-settings-block__title {
      background: #edf1f5;
      border: 1px solid #fff;
      a {
            font-size: 12px;
            color: #000;
            padding: 8px 10px;
            display: inherit;
            font-weight: bold;
      }
}

.f-settings-block__content {
      padding: 8px 20px;
      .f-multiple-form {
            margin-bottom: 10px;
      }
}

.f-thumb-img {
      display: inline-block;
      vertical-align: middle;
}

.icon-question-sign {
      position: relative;
      margin-left: 5px;
      i {
            color: #0096d6;
      }
      .tooltip {
            padding: 5px 10px;
            border: 1px solid #ebebeb;
            background: #fff;
            opacity: 0;
            visibility: hidden;
            transition: 0.2s opacity ease-in;
            position: absolute;
            top: -36px;
            left: 50%;
            transform: translate(-50%, 0);
            color: #000;
            font-weight: bold;
            box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.11);
      }
      &:hover {
            .tooltip {
                  opacity: 1;
                  visibility: visible;
            }
      }
}



.f-multiple-form_button {

      display: inline-block;
      i {
            color: #fff;
      }
}

.f-multiple-form {

      .text-right {
            span {
                  margin: 9px 0 0 0;
                  display: inline-block;
            }
      }
}

@media (max-width: 767px) {
      .f-settings-block__content {
            padding: 0;
            .f-multiple-form {
                  margin-bottom: 10px;
            }
      }

}