<div :class="containerClass">
    <div class="f-buttons-block text-right visible-lg visible-md">
        <template v-for="group in form.config.action_desktop_groups">
            <button v-if="!group.children" :key="group.desktop_group" type="button" class="button" :class="group.button_class" @click="doFormAction(group)">{{group.label|_}}</button>
            <div v-if="group.children" :key="group.desktop_group" class="f-dropdown f-actions-dropdown-arrow" :class="{open:ddOpen('actions-open-' + group.desktop_group)}">
                <button type="button" class="button" :class="group.button_class" @click="doFormAction(group)">{{group.label|_}}</button>
                <a href="#" class="f-caret f-dropdown__toggle" @click.prevent.stop="ddToggle('actions-open-' + group.desktop_group)"><b class="f-caret__elem"></b></a>
                <div class="f-dropdown__menu f-menu_right">
                    <button v-for="action in group.children" :key="action.name" type="button" class="button"
                            :class="action.button_class" @click="doFormAction(action)">{{action.label|_}}</button>
                </div>
            </div>
        </template>
    </div>
    <div class="f-buttons-block text-center f-mobile-button hidden-md hidden-lg">
        <template v-for="group in form.config.action_mobile_groups">
            <button v-if="!group.children" :key="group.mobile_group" type="button" class="button" :class="group.button_class" @click="doFormAction(group)">{{group.label|_}}</button>
            <div v-if="group.children" :key="group.mobile_group" class="f-dropdown f-actions-dropdown" :class="{open:ddOpen('actions-open-' + group.mobile_group)}">
                <button type="button" class="button button1 f-dropdown__toggle" @click.prevent.stop="ddToggle('actions-open-' + group.mobile_group)">{{group.label|_}}</button>
                <ul class="f-dropdown__menu f-menu_right">
                    <li v-for="action in group.children" :key="action.name">
                        <button type="button" class="button" :class="action.button_class" @click="doFormAction(action)">{{action.label|_}}</button>
                    </li>
                </ul>
            </div>
        </template>
    </div>
</div>