<div class="f-form-group row" :class="{required: fieldConfig('required'), error: field_errors, translating:  i18n_enabled}">
    <label v-if="fieldConfig('label')" :for="field_id" class="f-form-label" :class="fieldConfig('label_class')">
        {{fieldConfig('label')|_}}
    </label>

    <div :class="fieldConfig('field_container_class')">

        <input v-if="field_type === 'input'"
               :value="value_model" @input="value_model = $event.target.value"
               :id="field_id"
               class="f-input"
               :class="fieldConfig('input_class')"
               :style="fieldConfig('input_style')"
               :placeholder="fieldConfig('placeholder')"
               :readonly="fieldConfig('readonly')"
               :disabled="fieldConfig('disabled')"
               :required="fieldConfig('required')"
               :pattern="fieldConfig('pattern')"
               :type="fieldConfig('input_type') || 'text'"/>

        <select v-if="field_type === 'select'"
                v-model="value_model"
                :id="field_id"
                class="f-input"
                :class="fieldConfig('input_class')"
                :style="fieldConfig('input_style')"
                :placeholder="fieldConfig('placeholder')"
                :readonly="fieldConfig('readonly')"
                :disabled="fieldConfig('disabled')"
                :required="fieldConfig('required')"
                :multiple="fieldConfig('multiple')">
            <option v-for="o in field_options" :value="o.id">{{o.text}}</option>
        </select>

        <select2 v-if="field_type === 'select2'"
                 v-model="value_model"
                 :id="field_id"
                 :class="fieldConfig('input_class')"
                 :style="fieldConfig('input_style')"
                 :placeholder="fieldConfig('placeholder')"
                 :readonly="fieldConfig('readonly')"
                 :disabled="fieldConfig('disabled')"
                 :required="fieldConfig('required')"
                 :multiple="fieldConfig('multiple')"
                 :options="field_options"
                 :params="fieldConfig('select2') || {}">
            <option v-for="o in field_options" :value="o.id">{{o.text}}</option>
        </select2>

        <v-multiselect v-if="field_type === 'v-multiselect'"
                       v-model="value_model"
                       :id="field_id"
                       :options="field_options"
                       track-by="id"
                       label="text"
                       :close-on-select="false"
                       :class="fieldConfig('input_class')"
                       :style="fieldConfig('input_style')"
                       :placeholder="fieldConfig('placeholder')"
                       :readonly="fieldConfig('readonly')"
                       :disabled="fieldConfig('disabled')"
                       :required="fieldConfig('required')"
                       :searchable="true"
                       :multiple="fieldConfig('multiple')">
        </v-multiselect>

        <v-select v-if="field_type === 'v-select'"
                  v-model="value_model"
                  :id="field_id"
                  :options="field_options"
                  track-by="id"
                  label="text"
                  :close-on-select="false"
                  :class="fieldConfig('input_class')"
                  :style="fieldConfig('input_style')"
                  :placeholder="fieldConfig('placeholder')"
                  :readonly="fieldConfig('readonly')"
                  :disabled="fieldConfig('disabled')"
                  :required="fieldConfig('required')"
                  :searchable="true"
                  :multiple="fieldConfig('multiple')">
        </v-select>

        <checkbox v-if="field_type === 'checkbox'"
                  v-model="value_model"
                  :id="field_id"></checkbox>

        <textarea rows="5" v-if="field_type === 'textarea'"
                  v-model="value_model"
                  :id="field_id"
                  class="f-textarea"
                  :class="fieldConfig('input_class')"
                  :style="fieldConfig('input_style')"
                  :placeholder="fieldConfig('placeholder')"
                  :readonly="fieldConfig('readonly')"
                  :disabled="fieldConfig('disabled')"
                  :required="fieldConfig('required')"></textarea>

        <ckeditor v-if="field_type === 'wysiwyg'"
                  v-model="value_model"
                  :id="field_id"></ckeditor>

        <component v-if="field_type === 'component'"
                   v-model="value_model"
                   :is="fieldConfig('component')"
                   :id="field_id"></component>

        <a v-if="i18n_enabled && fieldConfig('i18n')" href="#" class="translate-icon"
           @click.prevent="$emit('event', 'toggle_i18n', field_config)" id="translate"><i class="fa fa-globe" aria-hidden="true"></i></a>

        <div v-if="fieldConfig('notes')">{{fieldConfig('notes')}}</div>

        <span v-for="e in field_errors" class="error-message">{{e}}</span>
    </div>
</div>