<div class="row">
      <div class="col-md-12">
            <div class="f-block-title">
                  <p class="f-block-title__text">{{'Widget Library'|_}}</p>
            </div>
      </div>
      <div class="col-md-3 col-lg-2">
            <div>
                  <ul class="widget-menu row">
                        <li class="col-md-12 col-sm-3 col-xs-6"><a href="#"><i aria-hidden="true" class="handle fa fa-ellipsis-v"></i><span>{{'Text'|_}}</span></a>
                        </li>
                        <li class="col-md-12 col-sm-3 col-xs-6"><a href="#"><i aria-hidden="true" class="handle fa fa-ellipsis-v"></i><span>{{'Widget'|_}}</span></a>
                        </li>
                        <li class="col-md-12 col-sm-3 col-xs-6"><a href="#"><i aria-hidden="true" class="handle fa fa-ellipsis-v"></i><span>{{'Template'|_}}</span></a>
                        </li>
                        <li class="col-md-12 col-sm-3 col-xs-6"><a href="#"><i aria-hidden="true" class="handle fa fa-ellipsis-v"></i><span>{{'Split 2 Columns'|_}}</span></a>
                        </li>
                        <li class="col-md-12 col-sm-3 col-xs-6"><a href="#"><i aria-hidden="true" class="handle fa fa-ellipsis-v"></i><span>{{'Split 3 Columns'|_}}</span></a>
                        </li>
                        <li class="col-md-12 col-sm-3 col-xs-6"><a href="#"><i aria-hidden="true" class="handle fa fa-ellipsis-v"></i><span>{{'CMS Block'|_}}</span></a>
                        </li>
                        <li class="col-md-12 col-sm-3 col-xs-6"><a href="#"><i aria-hidden="true" class="handle fa fa-ellipsis-v"></i><span>{{'Products Carousel'|_}}</span></a>
                        </li>
                        <li class="col-md-12 col-sm-3 col-xs-6"><a href="#"><i aria-hidden="true" class="handle fa fa-ellipsis-v"></i><span>{{'Remove View'|_}}</span></a>
                        </li>
                        <li class="col-md-12 col-sm-3 col-xs-6"><a href="#"><i aria-hidden="true" class="handle fa fa-ellipsis-v"></i><span>{{'Video Embed (YouTube)'|_}}</span></a>
                        </li>
                        <li class="col-md-12 col-sm-3 col-xs-6"><a href="#"><i aria-hidden="true" class="handle fa fa-ellipsis-v"></i><span>{{'Insert Media'|_}}</span></a>
                        </li>
                  </ul>
            </div>
      </div>
      <div class="col-md-9 col-lg-10">
            <div class="row">
                  <div class="col-md-12">
                        <div class="widget-block">
                              <div class="widget-block-title">
                                    <p>{{'Header'|_}}</p>
                                    <div class="f-action-button-b f-widget__actions-button">
                                          <a href="#" class="f-action-button-b__toggle" data-toggle="dropdown">
                                                <span>{{'Visibility'|_}}</span><span class="f-caret"><b class="f-caret__elem"></b></span> </a>
                                          <ul class="f-action-button-b__menu">
                                                <li><a href="#" class="color14">{{'Inherit'|_}}</a></li>
                                                <li><a href="#" class="color15">{{'Visible'|_}}</a></li>
                                                <li><a href="#" class="color16">{{'Hidden'|_}}</a></li>
                                          </ul>
                                    </div>
                              </div>
                              <div class="widget-block-content">
                                    <div class="widget">
                                          <div class="widget-title">
                                                <p>{{'CMS Block'|_}}</p>
                                                <a href="#" class="f-delete" draggable="false"><i class="fa fa-times"></i></a>
                                          </div>
                                          <div class="widget-content">
                                                <fieldset class="f-form-container">
                                                      <div class="f-form-group row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-9">
                                                                  <select2>
                                                                        <option>Option1</option>
                                                                        <option>Option2</option>
                                                                  </select2>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-9">
                                                                  <div class="f-input-group">
                                                                        <input type="text" class="f-input" value="" placeholder="Param">
                                                                        <span class="f-input-group__addon"> = </span>
                                                                        <input type="text" class="f-input" value="" placeholder="Value">
                                                                        <a class="f-input-group__addon" href="#" draggable="false"><i class="fa fa-times"></i></a>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-9">
                                                                  <div class="f-input-group">
                                                                        <input type="text" class="f-input" value="" placeholder="Param">
                                                                        <span class="f-input-group__addon"> = </span>
                                                                        <input type="text" class="f-input" value="" placeholder="Value">
                                                                        <a class="f-input-group__addon" href="#" draggable="false"><i class="fa fa-times"></i></a>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-9">
                                                                  <div class="control-block">
                                                                        <button class="button button2">{{'Add custom param'|_}}</button>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </fieldset>
                                          </div>
                                    </div>
                                    <div class="widget">
                                          <div class="widget-title">
                                                <p>{{'Products Carousel'|_}}</p>
                                                <a href="#" class="f-delete" draggable="false"><i class="fa fa-times"></i></a>
                                          </div>
                                          <div class="widget-content">
                                                <fieldset class="f-form-container">
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3 f-form-label">{{'Product SKUs'|_}}</label>
                                                            <div class="col-md-9">
                                                                  <select2>
                                                                        <option>Option1</option>
                                                                        <option>Option2</option>
                                                                        <option>Option3</option>
                                                                        <option>Option4</option>
                                                                  </select2>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3 f-form-label">{{'Carousel Height'|_}}</label>
                                                            <div class="col-md-9">
                                                                  <input class="f-input-number" type="number"/>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3 f-form-label">{{'Carousel Speed'|_}}</label>
                                                            <div class="col-md-9">
                                                                  <input class="f-input-number" type="number"/>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3 f-form-label">{{'Pause Carousel on Hover'|_}}</label>
                                                            <div class="col-md-9">
                                                                  <checkbox></checkbox>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3 f-form-label">{{'Allow Carousel to React to Keyboard'|_}}</label>
                                                            <div class="col-md-9">
                                                                  <checkbox></checkbox>
                                                            </div>
                                                      </div>
                                                </fieldset>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-12 col-lg-3">
                        <div class="widget-block">
                              <div class="widget-block-title">
                                    <p>{{'Left column'|_}}</p>
                                    <div class="f-action-button-b f-widget__actions-button">
                                          <a href="#" class="f-action-button-b__toggle" data-toggle="dropdown">
                                                <span>{{'Visibility'|_}}</span><span class="f-caret"><b class="f-caret__elem"></b></span> </a>
                                          <ul class="f-action-button-b__menu">
                                                <li><a href="#" class="color14">{{'Inherit'|_}}</a></li>
                                                <li><a href="#" class="color15">{{'Visible'|_}}</a></li>
                                                <li><a href="#" class="color16">{{'Hidden'|_}}</a></li>
                                          </ul>
                                    </div>
                              </div>
                              <div class="widget-block-content">
                                    <div class="widget">
                                          <div class="widget-title">
                                                <p>{{'Split 2 Columns'|_}}</p>
                                                <a href="#" class="f-delete" draggable="false"><i class="fa fa-times"></i></a>
                                          </div>
                                          <div class="widget-content">
                                                <div class="row">
                                                      <div class="col-xs-6">
                                                            <div class="widget-container"></div>
                                                      </div>
                                                      <div class="col-xs-6">
                                                            <div class="widget-container"></div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="widget">
                                          <div class="widget-title">
                                                <p>{{'Split 3 Columns'|_}}</p>
                                                <a href="#" class="f-delete" draggable="false"><i class="fa fa-times"></i></a>
                                          </div>
                                          <div class="widget-content">
                                                <div class="row">
                                                      <div class="col-xs-4">
                                                            <div class="widget-container"></div>
                                                      </div>
                                                      <div class="col-xs-4">
                                                            <div class="widget-container"></div>
                                                      </div>
                                                      <div class="col-xs-4">
                                                            <div class="widget-container"></div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-12 col-lg-6">
                        <div class="widget-block main-widget-block">
                              <div class="widget-block-title">
                                    <p>{{'Main'|_}}</p>
                                    <div class="f-action-button-b f-widget__actions-button">
                                          <a href="#" class="f-action-button-b__toggle" data-toggle="dropdown">
                                                <span>{{'Visibility'|_}}</span><span class="f-caret"><b class="f-caret__elem"></b></span> </a>
                                          <ul class="f-action-button-b__menu">
                                                <li><a href="#" class="color14">{{'Inherit'|_}}</a></li>
                                                <li><a href="#" class="color15">{{'Visible'|_}}</a></li>
                                                <li><a href="#" class="color16">{{'Hidden'|_}}</a></li>
                                          </ul>
                                    </div>
                              </div>
                              <div class="widget-block-content">
                                    <div class="widget">
                                          <div class="widget-title">
                                                <p>{{'Text'|_}}</p>
                                                <a href="#" class="f-delete" draggable="false"><i class="fa fa-times"></i></a>
                                          </div>
                                          <div class="widget-content">
                                                <fieldset class="f-form-container">
                                                      <div class="f-form-group row">
                                                            <div class="col-md-12">
                                                                  <textarea class="f-textarea" rows="5"></textarea>
                                                            </div>
                                                      </div>
                                                </fieldset>
                                          </div>
                                    </div>
                                    <div class="widget">
                                          <div class="widget-title">
                                                <p>{{'Widget'|_}}</p>
                                                <a href="#" class="f-delete" draggable="false"><i class="fa fa-times"></i></a>
                                          </div>
                                          <div class="widget-content">
                                                <fieldset class="f-form-container">
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3"></label>
                                                            <div class="col-md-9">
                                                                  <select2>
                                                                        <option>Option1</option>
                                                                        <option>Option2</option>
                                                                        <option>Option3</option>
                                                                        <option>Option4</option>
                                                                  </select2>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-9">
                                                                  <div class="f-input-group">
                                                                        <input type="text" class="f-input" value="" placeholder="Param">
                                                                        <span class="f-input-group__addon"> = </span>
                                                                        <input type="text" class="f-input" value="" placeholder="Value">
                                                                        <a class="f-input-group__addon" href="#" draggable="false"><i class="fa fa-times"></i></a>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-9">
                                                                  <div class="f-input-group">
                                                                        <input type="text" class="f-input" value="" placeholder="Param">
                                                                        <span class="f-input-group__addon"> = </span>
                                                                        <input type="text" class="f-input" value="" placeholder="Value">
                                                                        <a class="f-input-group__addon" href="#" draggable="false"><i class="fa fa-times"></i></a>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3"></label>
                                                            <div class="col-md-9">
                                                                  <div class="control-block">
                                                                        <button class="button button2">{{'Add custom param'|_}}</button>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </fieldset>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-12 col-lg-3">
                        <div class="widget-block">
                              <div class="widget-block-title">
                                    <p>{{'Right column'|_}}</p>
                                    <div class="f-action-button-b f-widget__actions-button">
                                          <a href="#" class="f-action-button-b__toggle" data-toggle="dropdown">
                                                <span>{{'Visibility'|_}}</span><span class="f-caret"><b class="f-caret__elem"></b></span> </a>
                                          <ul class="f-action-button-b__menu">
                                                <li><a href="#" class="color14">{{'Inherit'|_}}</a></li>
                                                <li><a href="#" class="color15">{{'Visible'|_}}</a></li>
                                                <li><a href="#" class="color16">{{'Hidden'|_}}</a></li>
                                          </ul>
                                    </div>
                              </div>
                              <div class="widget-block-content">
                                    <div class="widget">
                                          <div class="widget-title">
                                                <p>{{'Remove view'|_}}</p>
                                                <a href="#" class="f-delete" draggable="false"><i class="fa fa-times"></i></a>
                                          </div>
                                          <div class="widget-content">
                                                <div class="form-horizontal">
                                                      <div class="form-group">
                                                            <div class="col-md-12">
                                                                  <input class="f-input" type="text"/>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-12">
                        <div class="widget-block">
                              <div class="widget-block-title">
                                    <p>{{'Footer'|_}}</p>
                                    <div class="f-action-button-b f-widget__actions-button">
                                          <a href="#" class="f-action-button-b__toggle" data-toggle="dropdown">
                                                <span>{{'Visibility'|_}}</span><span class="f-caret"><b class="f-caret__elem"></b></span> </a>
                                          <ul class="f-action-button-b__menu">
                                                <li><a href="#" class="color14">{{'Inherit'|_}}</a></li>
                                                <li><a href="#" class="color15">{{'Visible'|_}}</a></li>
                                                <li><a href="#" class="color16">{{'Hidden'|_}}</a></li>
                                          </ul>
                                    </div>
                              </div>
                              <div class="widget-block-content">
                                    <div class="widget">
                                          <div class="widget-title">
                                                <p>{{'Video Embed (YouTube)'|_}}</p>
                                                <a href="#" class="f-delete" draggable="false"><i class="fa fa-times"></i></a>
                                          </div>
                                          <div class="widget-content">
                                                <fieldset class="f-form-container">
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3 f-form-label">{{'Embed URL'|_}}</label>
                                                            <div class="col-md-9">
                                                                  <input class="f-input" type="text"/>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3 f-form-label">{{'Width'|_}}</label>
                                                            <div class="col-md-9">
                                                                  <input class="f-input-number" type="number"/>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3 f-form-label">{{'Height'|_}}</label>
                                                            <div class="col-md-9">
                                                                  <input class="f-input-number" type="number"/>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3 f-form-label">{{'Embed using iFrame'|_}}</label>
                                                            <div class="col-md-9">
                                                                  <checkbox></checkbox>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-9">
                                                                  <div class="f-input-group">
                                                                        <input type="text" class="f-input" value="" placeholder="Param">
                                                                        <span class="f-input-group__addon"> = </span>
                                                                        <input type="text" class="f-input" value="" placeholder="Value">
                                                                        <a class="f-input-group__addon" href="#" draggable="false"><i class="fa fa-times"></i></a>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-9">
                                                                  <div class="control-block">
                                                                        <button class="button button2">{{'Add custom param'|_}}</button>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </fieldset>
                                          </div>
                                    </div>
                                    <div class="widget">
                                          <div class="widget-title">
                                                <p>{{'Insert media'|_}}</p>
                                                <a href="#" class="f-delete" draggable="false"><i class="fa fa-times"></i></a>
                                          </div>
                                          <div class="widget-content">
                                                <fieldset class="f-form-container">
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3 f-form-label">{{'Width'|_}}</label>
                                                            <div class="col-md-9">
                                                                  <input class="f-input-number" type="number"/>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <label class="col-md-3 f-form-label">{{'Height'|_}}</label>
                                                            <div class="col-md-9">
                                                                  <input class="f-input-number" type="number"/>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <div class="col-md-3 f-form-label">
                                                                  <button class="button button1">{{'Select image'|_}}</button>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-9">
                                                                  <div class="f-input-group">
                                                                        <input type="text" class="f-input" value="" placeholder="Param">
                                                                        <span class="f-input-group__addon"> = </span>
                                                                        <input type="text" class="f-input" value="" placeholder="Value">
                                                                        <a class="f-input-group__addon" href="#" draggable="false"><i class="fa fa-times"></i></a>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="f-form-group row">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-9">
                                                                  <div class="control-block">
                                                                        <button class="button button2">{{'Add custom param'|_}}</button>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </fieldset>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>