<div class="row">
      <div class="col-sm-12 col-md-4 col-lg-2">
            <div class="f-content-block tree-block">
                  <div class="f-buttons-block text-center">
                        <button class="f-icon-button" @click="expandAll()" title="expand all">
                              <svg width="20" height="19" v-html="svgIconLink('icon-expand')"></svg>
                        </button>
                        <button class="f-icon-button" @click="collapseAll()" title="collapse all">
                              <svg width="20" height="19" v-html="svgIconLink('icon-collapse')"></svg>
                        </button>
                        <button class="f-icon-button" :class="{open:ddOpen('root-lock')}" @click.prevent.stop="ddToggle('root-lock')" title="lock tree">
                              <i class="fa fa-lock" aria-hidden="true"></i><i class="fa fa-unlock" aria-hidden="true"></i></button>
                  </div>
                  <sv-comp-tree :tree="tree" :cur-node="curNode" tree-id="categories" @event="treeEvent"></sv-comp-tree>
            </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-10">
            <div class="row">
                  <div class="col-xs-12">
                       <sv-comp-form-tabs :form="form" :tab="tab" container-class="col-xs-6" @event="processTabEvent"></sv-comp-form-tabs>
                       <sv-comp-form-actions :form="form" container-class="col-xs-6" @event="processActionEvent"></sv-comp-form-actions>
                  </div>
            </div>


            <component v-for="t in formTabs" :key="t.name" v-show="tab === t" :is="t.component_config" :form="form" @event="processTabEvent"></component>

       <!--     <component v-for="t in form.config.tabs" v-if="tab === t.name" :is="t.component_config" :form="form" @tab="switchTab"></component>-->


          <!--  <component v-for="t in form.config.tabs" v-if="tab === t.name" :is="t.component_config" :form="form" @tab="switchTab" @event="processTabEvent"></component>-->
      </div>
</div>
