<div class="row">
    <div v-if="thumbUrl || formTitle" class="col-md-12 col-sm-12">
        <div class="f-form-title">
            <img v-if="thumbUrl" :src="thumbUrl" width="80" class="f-thumb-img">
            <p class="f-form-title__text" :class-bak="{'hidden-xs':!thumbUrl}">{{formTitle|_}}</p>
        </div>
    </div>
    <div class="col-lg-12">
        <sv-comp-form-tabs :form="form" :tab="tab" container-class="col-xs-6" @event="processTabEvent"></sv-comp-form-tabs>

        <sv-comp-form-actions :form="form" container-class="col-xs-6" @event="processActionEvent"></sv-comp-form-actions>
    </div>
    <div class="col-xs-12">
        <component v-for="t in formTabs" :key="t.name" v-show="tab === t" :is="t.component_config" :form="form" @event="processTabEvent"></component>
    </div>
</div>