
<div class="new-comment">
    <div class="block-title">
        {{'New comment'|_}}
    </div>
    <div class="status-control">
        <label><input type="radio" value="public" name="comment-message"/><span><i aria-hidden="true" class="fa fa-circle"></i></span><span>{{'Public'|_}}</span></label>
        <label><input type="radio" value="private" name="comment-message"/><span><i aria-hidden="true" class="fa fa-circle"></i></span><span>{{'Private'|_}}</span></label>
    </div>
    <p>{{'Comment'|_}}</p>
    <textarea></textarea>
    <div class="add-file-block">
        <label class="input-file">
            <i aria-hidden="true" class="fa fa-paperclip"></i>
            <span class="add-image">{{'Attach files'|_}}</span>
            <input type="file" multiple="" accept="image/*,image/jpeg">
        </label>
    </div>
    <div class="added-files ">
        <div class="file">
            <img src='#' alt="file img" />
            <span>IMG_007.jpg</span>
            <a href="#" class="f-delete"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
        <div class="file">
            <img src='#' alt="file img" />
            <span>IMG_007.jpg</span>
            <a href="#" class="f-delete"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
        <div class="file">
            <img src='#' alt="file img" />
            <span>IMG_007.jpg</span>
            <a href="#" class="f-delete"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
        <div class="file">
            <img src='#' alt="file img" />
            <span>IMG_007.jpg</span>
            <a href="#" class="f-delete"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="f-buttons-block text-right">
        <input type="submit" value="Cancel" class="button button2" />
        <input type="submit" value="Send" class="button button1" />
    </div>
</div>