<div>
      <div class="row">
            <div class="col-md-4 col-xs-6">
                  <ul class="f-buttons-block f-horizontal-menu f-dropdown visible-lg visible-md">
                        <li v-for="l1 in settings.config.nav" class="f-dropdown f-horizontal-menu__item" :class="{open:ddOpen('settings/' + l1.path)}">
                              <a href="#" :title="l1.label" class="f-dropdown__toggle f-horizontal-menu__link" data-toggle="dropdown" @click.prevent.stop="ddToggle('settings/' + l1.path)">{{l1.label}}
                                    <!--<i class="fa fa-caret-down f-horizontal-menu__icon" aria-hidden="true"></i>-->
                              </a>
                              <ul class="f-horizontal-menu__dropdown-menu">
                                    <li v-for="l2 in l1.children"><a href="#" @click.prevent="switchTab(l2)" class="f-horizontal-menu__link">{{l2.label}}</a>
                                    </li>
                              </ul>
                        </li>
                  </ul>
                  <div class="f-buttons-block text-center f-mobile-button hidden-md hidden-lg">
                        <div class="f-action-button-b" :class="{open:ddOpen('tabs-open')}">
                              <a href="#" data-toggle="dropdown" class="f-action-button-b__toggle" @click.prevent.stop="ddToggle('tabs-open')">Tabs
                                    menu<span class="f-caret"><b class="f-caret__elem"></b></span></a>
                              <ul class="f-action-button-b__menu">

                              </ul>
                        </div>
                  </div>
            </div>
            <div class="col-md-4 col-xs-6 hidden-md hidden-lg">
                  <div class="f-buttons-block text-center f-mobile-button hidden-md hidden-lg">
                        <div class="f-action-button-b" :class="{open:ddOpen('tabs-open')}">
                              <a href="#" data-toggle="dropdown" class="f-action-button-b__toggle" @click.prevent.stop="ddToggle('tabs-open')">Tabs
                                    menu<span class="f-caret"><b class="f-caret__elem"></b></span></a>
                              <ul class="f-action-button-b__menu">

                              </ul>
                        </div>
                  </div>
            </div>
            <div class="col-md-4 col-xs-12">
                  <div class="f-buttons-block">
                        <v-multiselect :internal-search="true" :options="search_options" :loading="search_loading" label="label" :placeholder="'Search Settings...'|_" :clear-on-select="true" :close-on-select="true" :options-limit="200" :limit="3" :limit-text="searchLimitText" @search-change="search" @input="searchSelect(arguments[0])"></v-multiselect>
                  </div>
            </div>
            <div class="col-md-4 col-xs-12">
                  <div class="f-buttons-block text-right">
                        <button type="button" class="button button1" @click="saveAll()">{{'Save All Settings'|_}}</button>
                  </div>
            </div>
      </div>
      <!--<v-select :debounce="500" :on-search="search" :options="search_options" :placeholder="'Search Settings...'|_"></v-select>-->
      <div class="f-content-block">
            <div class="f-block-title">
                  <p class="f-block-title__text">{{pageTitle}}</p>
            </div>
            <ul class="f-settings-block">
                  <li v-for="panel in panels" v-if="!(panel.hide_for_site && site.id)">
                        <div class="f-settings-block__title">
                              <a href="#" @click.prevent="togglePanel(panel)">{{panel.label}}</a>
                        </div>
                        <div class="f-settings-block__content" v-if="panelsOpen[panel.path]">
                              <component :is="panel.component" :settings="settings" :panel="panel" :site="site"></component>
                        </div>
                  </li>
            </ul>
      </div>
      <!--<jsontree :json="settings.data"></jsontree>-->
</div>
