<div class="row">
      <div class="col-xs-6">
            <ul class='f-buttons-block f-horizontal-menu f-dropdown visible-lg visible-md'>
                  <li class="f-horizontal-menu__item"><a href="#" class="f-horizontal-menu__link">{{'Promo Details'|_}}</a></li>
            </ul>
            <div class="f-buttons-block text-center f-mobile-button hidden-md hidden-lg">
				<div class="f-action-button-b" :class="{open:ddOpen('tabs-open')}">
					<a href="#" data-toggle="dropdown" class="f-action-button-b__toggle" @click.prevent.stop="ddToggle('tabs-open')">Tabs
						menu<span class="f-caret"><b class="f-caret__elem"></b></span></a>
					<ul class="f-action-button-b__menu">
                                    <li class="f-action-button-b__item"><a href="#" class="f-action-button-b__link">{{'Promo Details'|_}}</a></li>
					</ul>
				</div>
			</div>
      </div>
      <div class="col-xs-6">
            <div class="f-buttons-block text-right visible-lg visible-md">
                  <button type="button" class="button button2" @click="goBack()">{{'Back'|_}}</button>
                  <div class="f-dropdown f-actions-dropdown-arrow" :class="{open:ddOpen('actions-open')}">
                        <button type="button" class="button button1" @click="goBack()">{{'Save'|_}}</button>
                        <a href="" class="f-caret f-dropdown__toggle" @click.prevent.stop="ddToggle('actions-open')"><b class="f-caret__elem"></b></a>
                  </div>
                  <button type="button" class="button button1" @click="save(true)">{{'Save and Continue'|_}}</button>
            </div>
            <div class="f-buttons-block f-mobile-button hidden-md hidden-lg">
                  <div class="f-dropdown f-actions-dropdown" :class="{open:ddOpen('actions-open')}">
                        <button type="button" class="button button1 f-dropdown__toggle" @click.prevent.stop="ddToggle('actions-open')">{{'Actions'|_}}</button>
                        <ul class="f-dropdown__menu">
                              <li>
                                    <button type="button" class="button button2" @click="goBack()">{{'Back'|_}}</button>
                              </li>
                              <li>
                                    <button type="button" class="button button2" @click="goBack()">{{'Save'|_}}</button>
                              </li>
                              <li>
                                    <button type="button" class="button button1" @click="save(true)">{{'Save and Continue'|_}}</button>
                              </li>
                        </ul>
                  </div>
            </div>
      </div>
      <div class="col-xs-12">
            <div class="row">
                  <div class="col-md-5">
					<div class="f-content-block box-no-padding">
						<div class="form-horizontal">
							<div class="f-section">
								<div class="form-group required">
									<label class="col-md-4 control-label">{{'Type'|_}}</label>
									<div class="col-md-7">
										<select2>
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select2>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label" for="id3">{{'Admin Summary'|_}}</label>
									<div class="col-md-7">
										<input class="f-input" type="text" id="id3" /> </div>
								</div>
								<div class="form-group">
									<div class="col-md-4 control-label">
										<label for="id5" class="control-label">{{'Internal notes'|_}}</label>
									</div>
									<div class="col-md-7">
										<textarea class="f-textarea" rows="5" id="id5"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label" for="id2">{{'Customer Label'|_}}</label>
									<div class="col-md-7">
										<input class="f-input" type="text" id="id2" /> </div>
								</div>
								<div class="form-group">
									<div class="col-md-4 control-label">
										<label for="id6" class="control-label">{{'Details for Customer'|_}}</label>
									</div>
									<div class="col-md-7">
										<textarea class="f-textarea" rows="5" id="id6"></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-4 control-label">
										<label for="id7" class="control-label">{{'Priority'|_}}</label>
									</div>
									<div class="col-md-7">
										<input class="f-input-number" type="number" id="id7" /> </div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label" for="id">{{'Status'|_}}</label>
									<div class="col-md-7">
										<select2>
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select2>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label" for="id">{{'Stop flag'|_}}</label>
									<div class="col-md-7">
										<checkbox></checkbox>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label" for="id">{{'Customer Groups'|_}}</label>
									<div class="col-md-7">
										<select2>
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select2>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label" for="id">{{'Date Range'|_}}</label>
									<div class="col-md-7">
										<div class="input-group-btn range">
											<input type="date" placeholder="date" class="f-input">
											<input type="date" placeholder="date" class="f-input"> </div>
									</div>
								</div>
							</div>
							<div class="line"></div>
							<div class="configure-block active">
								<div class="form-horizontal box-no-padding">
									<div class="form-group active">
										<div class="col-md-4 control-label">
											<label for="id5" class="control-label">{{'Coupons:'|_}}</label>
										</div>
										<div class="col-md-5">
											<textarea class="f-textarea" rows="5" id="id5"></textarea>
										</div>
										<div class="col-md-3">
											<button class="button8">Configure</button>
										</div>
									</div>
								</div>
							</div>
							<div class="configure-block">
								<div class="form-horizontal box-no-padding">
									<div class="form-group">
										<div class="col-md-4 control-label">
											<label for="id5" class="control-label">{{'Conditions:'|_}}</label>
										</div>
										<div class="col-md-5">
											<textarea class="f-textarea" rows="5" id="id5"></textarea>
										</div>
										<div class="col-md-3">
											<button class="button8">Configure</button>
										</div>
									</div>
								</div>
							</div>
							<div class="configure-block">
								<div class="form-horizontal box-no-padding">
									<div class="form-group">
										<div class="col-md-4 control-label">
											<label for="id5" class="control-label">{{'Actions:'|_}}</label>
										</div>
										<div class="col-md-5">
											<textarea class="f-textarea" rows="5" id="id5"></textarea>
										</div>
										<div class="col-md-3">
											<button class="button8">Configure</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                  <div class="col-md-7">
					<div class="f-content-block">
						<div class="block-title">
							<p>Coupon</p>
						</div>
						<div class="row">
							<div class="col-md-5">
								<div class="form-horizontal">
									<div class="f-section">
										<div class="form-group">
											<label for="id5" class="col-xs-3 control-label">{{'Type:'|_}}</label>
											<div class="col-xs-9">
												<!--	<v-multiselect></v-multiselect>-->
												<select2>
													<option>1</option>
													<option>2</option>
												</select2>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group coupons-control">
									<div class="col-xs-3">

									</div>
									<div class="col-xs-9">
										<p>Total records: 100</p>
										<!--	<v-multiselect></v-multiselect>-->
										<select2>
											<option>123124</option>
											<option>124134</option>
										</select2>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="form-horizontal">
									<div class="f-section">
										<div class="form-group">
											<label for="id8" class="col-xs-5 control-label">{{'User Per customer:'|_}}</label>
											<div class="col-xs-7">
												<input class="f-input-number" type="number" id="id8" />
											</div>
										</div>
									</div>
								</div>
								<div class="line"></div>
								<div class="form-horizontal">
									<div class="f-section">
										<div class="form-group">
											<div class="col-md-5 control-label">
												{{'Generate new codes:'|_}}<span class="icon-question-sign"> <i class="fa fa-question-circle" aria-hidden="true"></i> <span class="tooltip">Message</span> </span>
											</div>
											<div class="col-md-7"></div>
										</div>
										<div class="form-group">
											<label for="id9" class="col-xs-5 control-label">{{'Code pattern:'|_}}</label>
											<div class="col-xs-7">
												<input class="f-input" type="text" id="id9" />
											</div>
										</div>
										<div class="form-group">
											<label for="id10" class="col-xs-5 control-label">{{'Coupon Code Length:'|_}}</label>
											<div class="col-xs-7">
												<input class="f-input-number" type="number" id="id10" />
											</div>
										</div>
										<div class="form-group">
											<label for="id11" class="col-xs-5 control-label">{{'How many to generate:'|_}}</label>
											<div class="col-xs-7">
												<input class="f-input-number" type="number" id="id11" />
											</div>
										</div>
										<div class="form-group">
											<div class="col-xs-5"></div>
											<div class="col-xs-7">
												<button class="button8">Generate</button>
											</div>
										</div>
									</div>
								</div>
								<div class="line"></div>
								<div class="form-horizontal">
									<div class="f-section">
										<div class="form-group">
											<div class="col-md-5 control-label">
												{{'Import/Upload codes:'|_}}<span class="icon-question-sign"> <i class="fa fa-question-circle" aria-hidden="true"></i> <span class="tooltip">Message</span> </span>
											</div>
											<label for="id10" class="col-xs-5 control-label"></label>
											<div class="col-xs-7">
												<button class="button5">Upload from file</button>
											</div>
										</div>
										<div class="added-files ">
											<div class="file"><a href="#" class="f-delete"><i aria-hidden="true" class="fa fa-times"></i></a><span>IMG_007.jpg</span><span>500КВ</span><span>Filetype not allowed</span> </div>
											<div class="file"><a href="#" class="f-delete"><i aria-hidden="true" class="fa fa-times"></i></a><span>IMG_007.jpg</span></div>
											<div class="file"><a href="#" class="f-delete"><i aria-hidden="true" class="fa fa-times"></i></a><span>IMG_007.jpg</span></div>
										</div>
										<div class="form-group">
											<label for="id12" class="col-xs-5 control-label">{{'Paste codes here:'|_}}</label>
											<div class="col-xs-7">
												<textarea class="f-textarea" id="id12" row="5"></textarea>
											</div>
										</div>
										<div class="form-group">
											<div class="col-xs-5"></div>
											<div class="col-xs-7">
												<button class="button8">Generate</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="buttons-block text-right">
							<button class="button13">Close</button>
							<button class="button2">Apply</button>
						</div>
					</div>
				</div>
                  <div class="col-md-7">
					<div class="f-content-block">
						<div class="block-title">
							<p>Actions</p>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-horizontal">
									<div class="f-section">
										<div class="form-group">
											<label for="" class="col-xs-4 control-label">{{'Promo Actions:'|_}}</label>
											<div class="col-xs-8">
												<!--	<v-multiselect></v-multiselect>-->
												<select2>
													<option>1</option>
													<option>2</option>
												</select2>
											</div>
										</div>
										<div class="form-group">
											<div class="col-xs-4 text-right">{{'Discount:'|_}} <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></div>
											<div class="col-xs-8">
												<div class="param-block">If <span class="param-result"> <a href="#" onclick="event.preventDefault(); $(this).parent().toggleClass('open');">any</a> <div class="param-options list"> <ul> <li><a href="">one</a></li> <li><a href="">two</a></li> <li><a href="">three</a></li> </ul> </div>	</span> just another text </div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-xs-4 text-right">{{'Auto Add Product To Cart:'|_}} <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></div>
											<div class="col-xs-7">
												<div class="param-block">If <span class="param-result"> <a href="#" onclick="event.preventDefault(); $(this).parent().toggleClass('open');">any</a> <div class="param-options list"> <ul> <li><a href="">one</a></li> <li><a href="">two</a></li> <li><a href="">three</a></li> </ul> </div>	</span> just another text </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="buttons-block text-right">
							<button class="button13">Close</button>
							<button class="button2">Apply</button>
						</div>
					</div>
				</div>
                  <div class="col-md-7">
					<div class="f-content-block box-no-padding">
						<div class="block-title">
							<p>Conditions</p>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-horizontal">
									<div class="f-section">
										<div class="form-group">
											<div class="col-xs-4 control-label">{{'Combine:'|_}}</div>
											<div class="col-xs-4">
												<!--	<v-multiselect></v-multiselect>-->
												<select2>
													<option>1</option>
													<option>2</option>
												</select2>
											</div>
											<div class="col-xs-4">
												<!--	<v-multiselect></v-multiselect>-->
												<select2>
													<option>1</option>
													<option>2</option>
												</select2>
											</div>
										</div>
										<div class="form-group">
											<div class="col-xs-4 text-right">{{'SKUs:'|_}} <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></div>
											<div class="col-xs-7">
												<div class="param-block">If <span class="param-result"> <a href="#" onclick="event.preventDefault(); $(this).parent().toggleClass('open');">any</a> <div class="param-options list"> <ul> <li><a href="">one</a></li> <li><a href="">two</a></li> <li><a href="">three</a></li> </ul> </div>	</span> just another text </div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-xs-4 text-right">{{'Categories:'|_}} <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></div>
											<div class="col-xs-7">
												<div class="param-block">If <span class="param-result"> <a href="#" onclick="event.preventDefault(); $(this).parent().toggleClass('open');">any</a> <div class="param-options list"> <ul> <li><a href="">one</a></li> <li><a href="">two</a></li> <li><a href="">three</a></li> </ul> </div>	</span> just another text </div>
											</div>
										</div>
									</div>
								</div>
								<div class="configure-block active">
									<div class="form-horizontal">
										<div class="f-section">
											<div class="form-group">
												<label for="id16" class="col-xs-4 control-label">{{'Combination:'|_}}<a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label>
												<div class="col-md-5">
													<textarea class="f-textarea" rows="5" id="id16"></textarea>
												</div>
												<div class="col-md-3">
													<button class="button8">Configure</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-horizontal">
									<div class="f-section">
										<div class="form-group">
											<div class="col-xs-4 text-right">{{'Cart Total:'|_}} <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></div>
											<div class="col-xs-8">
												<div class="param-block">If <span class="param-result"> <a href="#" onclick="event.preventDefault(); $(this).parent().toggleClass('open');">any</a> <div class="param-options list"> <ul> <li><a href="">one</a></li> <li><a href="">two</a></li> <li><a href="">three</a></li> </ul> </div>	</span> just another text </div>
											</div>
										</div>
									</div>
								</div>
								<div class="configure-block active">
									<div class="form-horizontal">
										<div class="f-section">
											<div class="form-group">
												<label for="id15" class="col-xs-4 control-label">{{'Destination:'|_}}<a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label>
												<div class="col-md-5">
													<textarea class="f-textarea" rows="5" id="id15"></textarea>
												</div>
												<div class="col-md-3">
													<button class="button8">Configure</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-horizontal">
									<div class="f-section">
										<div class="buttons-block text-right">
											<button class="button13">Close</button>
											<button class="button2">Apply</button>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
                  <div class="col-md-7">
					<div class="f-content-block">
						<div class="block-title">
							<p>Configure</p>
						</div>
						<div class="form-horizontal">
							<div class="f-section">
								<div class="form-group">
									<div class="col-xs-5">
										<!--	<v-multiselect></v-multiselect>-->
										<select2>
											<option>1</option>
											<option>2</option>
										</select2>
									</div>
									<div class="col-xs-5">
										<!--	<v-multiselect></v-multiselect>-->
										<select2>
											<option>1</option>
											<option>2</option>
										</select2>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-7">
										<div class="param-block"><a href="#" class="f-delete"><i class="fa fa-trash"></i></a> If <span class="param-result"> <a href="#" onclick="event.preventDefault(); $(this).parent().toggleClass('open');">any</a> <div class="param-options list"> <ul> <li><a href="">one</a></li> <li><a href="">two</a></li> <li><a href="">three</a></li> </ul> </div>	</span> just another text </div>
									</div>
								</div>
								<div class="buttons-block text-right">
									<button class="button13">Close</button>
									<button class="button2">Apply</button>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
      </div>
</div>
